<%namespace file='/theme-variables.html' import="get_global_settings" />
<%! from openedx.core.djangoapps.site_configuration.helpers import get_current_site_configuration, get_value %>
<%! from openedx.core.djangolib.js_utils import js_escaped_string %>

## Renders when Cookie Banner is disabled or when it is enabled and user has dismissed (accepted) it:
% if not (get_global_settings().get('cookie_notification_enabled', False) and (request.COOKIES.get('cookieconsent_status', '') != 'dismiss')):
  
  <%
    siteOrganization = get_value('course_org_filter');
    if user.is_authenticated:
      if show_intercom_widget:
        userType = 'Staff'
      else:
        userType = 'Learner'
      endif
    else:
      userType = 'Not authenticated'
    endif
    if course:
      courseName = "%s | %s" % (course.display_number_with_default, course.display_name_with_default)
    else:
      courseName = 'Not in course'
    endif
  %>

  <%
    customer_gtm_id = get_global_settings().get('customer_gtm_id', '')
    customer_gtm_enable_pii = get_global_settings().get('customer_gtm_enable_pii', False)
    customer_gtm_enabled = get_global_settings().get('customer_gtm_enabled', False)
  %>

  % if customer_gtm_id and customer_gtm_enabled:
    % if customer_gtm_enable_pii:
      <%
        if user.is_authenticated:
          userEmail = user.email
          userID = user.id
        else:
          userEmail = 'Not authenticated'
          userID = 'Not authenticated'
        endif
      %>
      <script>
        dataLayer = [{
          'visitorType': '${userType | n, js_escaped_string}',
          'courseName': '${courseName | n, js_escaped_string}',
          'userEmail': '${userEmail | n, js_escaped_string}',
          'userID': '${userID | n, js_escaped_string}',
        }];
      </script>
    % else:
      <script>
        dataLayer = [{
          'visitorType': '${userType | n, js_escaped_string}',
          'courseName': '${courseName | n, js_escaped_string}'
        }];
      </script>
    % endif
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','${customer_gtm_id | n, js_escaped_string}');</script>
    <!-- End Google Tag Manager -->
  % endif

  % if SHOW_GOOGLE_ANALYTICS:
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '${GOOGLE_ANALYTICS_APP_ID | n, js_escaped_string}', 'auto');
      %if USER_EMAIL_HASH:
        ga('set', 'userId', '${USER_EMAIL_HASH | n, js_escaped_string}');
        ga('set', 'dimension1', '${USER_EMAIL_HASH | n, js_escaped_string}');
      %endif
      ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

    <!-- Add new Analytics system. Note: for now we'll be duplicating analytics while we're testing the new Analytics organisation. Once we're satisfied with how it works, we'll remove the old one and keep just the new one. -->
    <!--
      usedId: we keep a consistent userId in Analytics in order to keep tracking a single user properly
      Dimension1: Organisation
      Dimension2: LMS Visitor type
      Dimension3: Visited course name
      Dimension4: LMS or Studio
    -->

    <%
      appsemblerLmsTrackingCode = get_global_settings().get('appsembler_lms_tracking_code')
    %>

    <script>
      % if get_global_settings().get('appsembler_lms_tracking_code'):
        ga('create', '${appsemblerLmsTrackingCode | n, js_escaped_string}', 'auto', 'appsemblerLmsTracker');
        ga('appsemblerLmsTracker.send', 'pageview', {
          %if USER_EMAIL_HASH:
            'userId': '${USER_EMAIL_HASH | n, js_escaped_string}',
          %endif
          'dimension1': '${siteOrganization | n, js_escaped_string}',
          'dimension2': '${userType | n, js_escaped_string}',
          'dimension3': '${courseName | n, js_escaped_string}',
          'dimension4': 'LMS'
        });
      % endif
    </script>
    <!-- /new analytics -->
  % endif

% endif