<%namespace file='/theme-variables.html' import="get_certificates_settings" />

<div class="wrapper-footer">

    <footer class="footer-app" role="contentinfo" id="company-info">
        <div class="footer-app-copyright">
            <p class="copy copy-micro">${get_certificates_settings()['footer_copyright_text']}</p>
        </div>
        <nav class="footer-app-nav">
            <ul class="list list-legal">
                % if (get_certificates_settings()['footer_tos_url'] != "#") and (get_certificates_settings()['footer_tos_url'] != ""):
                  <li class="nav-item">
                      <a class="action btn btn-small btn-link" href="${get_certificates_settings()['footer_tos_url']}">${company_tos_urltext}</a>
                  </li>
                % endif
                % if (get_certificates_settings()['footer_privacy_url'] != "#") and (get_certificates_settings()['footer_privacy_url'] != ""):
                  <li class="nav-item">
                      <a class="action btn btn-small btn-link" href="${get_certificates_settings()['footer_privacy_url']}">${company_privacy_urltext}</a>
                  </li>
                % endif
            </ul>
        </nav>
    </footer>

</div>
