<%! from django.contrib.staticfiles.templatetags.staticfiles import static %>

<section class="adn--index-hero" style="background-image: url('${static('images/adn--hero--fixed.jpg')}');">
  <div class="bs-container a--container adn--index-hero__container">
    <div>
      <h1>DIE DIGITALE KOMPETENZSCHMIEDE.</h1>
    </div>
    <div>
      <h2>SO GEHT WEITERBILDUNG.</h2>
    </div>
    <div>
      <a href="https://shop.adn.de/startseite/akademie/" class="adn--index-hero__cta">Zu den Trainings</a>
    </div>
  </div>
</section>
