<%! from django.contrib.staticfiles.templatetags.staticfiles import static %>

<section class="adn--index-hero" style="background-image: url('${static('images/ADN_Training_Banner.svg')}');">
  <div class="bs-container a--container adn--index-hero__container">
    <h1>ADN AKADEMIE.<br />ONE STEP AHEAD.</h1>
    <h4>Wir qualifizieren Sie mit Ausbildungs- und Weiterbildungsangeboten für zukunftsträchtige IT-Lösungen.</h4>
    <a href="http://shop.adn.de/index.php?cl=start&shp=akademie&lang=0" class="adn--index-hero__cta">Auf zum Training</a>
  </div>
</section>
