<%! from django.contrib.staticfiles.templatetags.staticfiles import static %>

<section class="easycare--index-hero">
  <div class="bs-container a--container easycare--index-hero__container">
    <div class="easycare--index-hero__content">
      <h1><span id="welcome">Welcome to</span> <span id="learn">Learn</span> from EasyCare Academy.</h1>
      <h4>Learn is our best-in-class online education and training platform. It is built on a comprehensive curriculum of coursework and personalised assessment through which we offer certification, accreditation, and continuing education for caregivers from all backgrounds. Through our programs of study we are empowering caregivers to support the health, independence, and well-being of older people.</h4>
      <a href="/login" class="index-hero-cta">Start now!</a>
    </div>
    <div class="easycare--index-hero__graphic">
      <span class="circle-image-container" style="background-image: url('${static('images/learn--banner-image-istock.jpg')}');" />
    </div>
  </div>
</section>
