<%! from django.contrib.staticfiles.templatetags.staticfiles import static %>

<section class="easycare--index-hero">
  <div class="bs-container a--container easycare--index-hero__container">
    <div class="easycare--index-hero__content">
      <h1><span>Welcome to</span> EasyCare Academy online classes!</h1>
      <h4>Nunc arcu massa, suscipit in iaculis eget, bibendum eget sapien. Sed nec sapien velit.</h4>
      <a href="/login" class="index-hero-cta">Start now!</a>
    </div>
    <div class="easycare--index-hero__graphic">
      <span class="circle-image-container" style="background-image: url('${static('images/1920x1080_ECA_banner_version_c.png')}');" />
    </div>
  </div>
</section>
