<%page args="footer_links, footer_logo, footer_copyright_text, display_edx_disclaimer, edx_disclaimer, display_poweredby" />

<footer class="easycare--footer">
  <div class="bs-container a--container easycare--footer__container">
    <div class="easycare--footer__main-wrapper">
      <div class="easycare--footer__main">
        <div class="easycare--footer__logo">
          <img src="${footer_logo}" />
        </div>
        <div class="easycare--footer__text">
          <a href="https://www.easycareacademy.com">www.easycareacademy.com</a>
        </div>
      </div>
      <div class="easycare--footer__copyright">
        ©2017 EasyCare Academy. All rights reserved.
      </div>
    </div>
  </div>
</footer>
