<%! from django.contrib.staticfiles.templatetags.staticfiles import static %>

<section class="jfrog--index-hero" style="background-image:url(${static('images/Hero-Image--jfrog--finalfinal.jpg')})">
  <div class="a--container bs-container jfrog--index-hero__container">
    <h1>Welcome to <span>JFrog Academy</span></h1>
    <h2>Your fast track to DevOps success! Fully-featured, self-paced and with the best instructors!</h2>
  </div>
</section>
<section class="jfrog--index-icons">
  <ul class="a--container bs-container jfrog--index-icons__container">
    <li>
      <img src="${static('images/jfrog-icons/artifactory-logo-white_144.png')}" alt="JFrog ARTIFACTORY" role="presentation" />
    </li>
    <li>
      <img src="${static('images/jfrog-icons/bintray-logo-white_107.png')}" alt="JFrog BINTRAY" role="presentation" />
    </li>
    <li>
      <img src="${static('images/jfrog-icons/mission-control-logo-white_176.png')}" alt="JFrog MISSION CONTROL" role="presentation" />
    </li>
    <li>
      <img src="${static('images/jfrog-icons/xray-logo-white_85.png')}" alt="JFrog XRAY" role="presentation" />
    </li>
    <li>
      <img src="${static('images/jfrog-icons/enterprise-plus-logo-white.png')}" alt="JFrog ENTERPRISE+" role="presentation" />
    </li>
  </ul>
</section>
