<%page args="user_authenticated, user_name, theme_folder, logo_positive, logo_negative, logo_url, display_shopping_cart, shopping_cart_url, display_course_name, course_number, course_name, menu_items, slideout_menu_items" />
## mako

<!-- top navigation -->
<section class="a--header-design-01 a--site-nav">
  <div class="bs-container a--container a--site-nav__container">
    <div class="a--site-nav__group-left">
      <a href="${logo_url}" target="_blank" class="a--site-nav__logo__container a--site-nav__logo__positive">
        <img class="a--site-nav__logo a--logo-full" src="${logo_positive}">
      </a>
      <a href="${logo_url}" target="_blank" class="a--site-nav__logo__container a--site-nav__logo__negative">
        <img class="a--site-nav__logo a--logo-full" src="${logo_negative}">
      </a>
      % if display_course_name:
      <div class="a--site-nav__course-name">
        <span>${course_number}</span>${course_name}
      </div>
      % endif
    </div>
    <nav class="a--site-nav__group-right" id="site-menu">
      <ul class="a--site-menu__container">
        % for menu_group in menu_items:
        <li class="a--site-menu__group">
          <ul>
            % for item in menu_group:
            <li class="a--${item['special_class']}">
              <a href="${item['link_URL']}"
              % if item['open_in_new_tab']:
                target="_blank"
              % endif
              >${item['link_title']}</a>
            </li>
            % endfor
          </ul>
        </li>
        % endfor
        % if user_authenticated:
        <li class="a--site-menu__group a--user-avatar">
          Welcome, <span>${user_name}</span>.
        </li>
        % endif
        <li class="a--site-menu__group a--slide-menu">
          <button type="button" id="site-menu-toggle" class="a--button a--site-nav__mobile-toggle" aria-label="toggle menu">
            <span class="a--toggle-bar"></span>
            <span class="a--toggle-bar"></span>
            <span class="a--toggle-bar"></span>
            <span class="a--toggle-pulsar a--toggle-pulsar__1"></span>
            <span class="a--toggle-pulsar a--toggle-pulsar__2"></span>
          </button>
          <ul class="a--slide-menu__container" id="slide-menu">
            <% first_slideout_item = True %>
            % for menu_group in slideout_menu_items:
              % if not first_slideout_item and menu_group:
                <li class="a--spacer"></li>
              % endif
              % for item in menu_group:
                <li class="a--${item['special_class']}">
                  <a href="${item['link_URL']}"
                  % if item['open_in_new_tab']:
                    target="_blank"
                  % endif
                  >${item['link_title']}</a>
                </li>
              % endfor
              <% first_slideout_item = False %>
            % endfor
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</section>
		<!-- end of top navigation -->
