// Header
.a--header-design-01.a--site-nav {
  background-color: $brand-accent-color;
}

.a--header-design-01 .a--site-menu__group:first-child {
  flex-shrink: 0;
}

.a--site-nav {

  .button-saml-feide-saml {
    background: none;
    box-shadow: none;
    outline: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    font: inherit;
    @include primary-font;
    padding: 1rem 1.5rem;
    border-radius: $buttons-border-radius;
    border: 0.2rem solid $brand-primary-color;
    @include transition(all 0.3s ease-in-out);

    i {
      margin-right: 1rem;
    }

    span.cta-title {
      font-size: 1.4rem;
      letter-spacing: 0;
    }

    &:hover, &:focus, &:hover:not(:disabled) {
      background-color: $brand-primary-color;
      border: 0.2rem solid $brand-primary-color;

      &:after {
        display: none !important;
      }
    }

    &.sidebar-button {
      border-color: #fff;

      &:hover, &:focus, &:hover:not(:disabled) {
        border-color: #fff;
        background-color: #fff;
        color: $brand-primary-color;
      }
    }
  }
}

// Hero
.hioa--hero-section {
  background-position: center top;
  background-size: cover;
  background-color: $brand-primary-color;
  line-height: 150%;
  padding-top: 12rem;
  padding-bottom: 12rem;
  border-bottom: 0.4rem solid #000;

  &__container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  h1 {
    @include primary-font-bold;
    font-size: 6.4rem;
    line-height: 120%;
    margin: 0 0 0 -3rem;
    background-color: #0F1012;
    padding: 1.5rem 3rem;
    color: #fff;
    display: inline-block;

    @media(max-width: $screen-sm-max) {
      font-size: 4.2rem;
    }
  }

  h4 {
    @include small-headings-font;
    font-size: 1.6rem;
    margin: 0;
    color: inherit;
    opacity: 0.75
  }

  &__cta-container {
    margin: 0;

    & .a--cta {
      @include large-cta-font;
      background-color: $cta-button-bg;
      border: $navbar-button-border;
      display: inline-block;
      padding: 1.5rem 2rem;
      font-size: 2.0rem;
      margin: 1rem;
      @include large-cta-font;
      color: $cta-button-text-color;
      @include button_radius;
      @include button_splash($buttons-border-radius);

      &:hover, &:focus {
        color: rgba($cta-button-text-color, 0.8);
      }
    }
  }
}

.a--hero-section-01 h1 {
  font-weight: 500;
}

// Course listing and CTA
.a--heading-plus-text-plus-cta h2,
.a--course-listing-01__section-heading {
  font-weight: $primary-font-weight-regular;
}

.a--heading-plus-text-plus-cta.negative {
  background: $brand-accent-color;
}

// Footer
.a--footer {
  border-top: 5px solid $brand-primary-color;
}

.a--footer__logo {
  opacity: 1;
}

.a--footer__powered-by {
  opacity: 1;
}

.a--footer__powered-by #footer-openedx-logo {
  align-self: baseline;
}

.a--footer__powered-by #footer-appsembler-logo {
  opacity: 1;
}

.a--footer__links-container li a:hover .fa-facebook {
  color: #3B5998;
}

.a--footer__links-container li a:hover .fa-twitter {
  color: #1DA1F2;
}

.a--footer__links-container li a:hover .fa-linkedin {
  color: #0077B5;
}

// Custom Course Catalog
.courses-listing.a--course-tile-01-parent-element {
  li.courses-listing-item {
    padding: 1.5rem;
    width: 25%;
    @include display(flex);

    @media(max-width:$screen-md-max) {
      width: 33.3%;
    }

    @media(max-width:$screen-sm-max) {
      width: 50%;
    }

    @media(max-width:$screen-xs-max) {
      width: 100%;
    }

    .a--course-tile-01__wrapper {
      padding: 0;
      width: 100%;
    }
  }
}
