// small header visual customisations

.a--header-design-01 .a--site-menu__group ul li, .a--header-design-01 .a--site-menu__group ul li.a--nav-cta a, .a--header-design-01 .a--site-menu__group ul li.a--cta-button a {
  @include fontVariantInclude("primary-font-bold");
}

.a--header-design-01.a--site-nav {
  border-bottom: 0.4rem solid $brand-primary-color;
}

.cset--index-hero {
  padding: 45rem 0 15rem;
  text-align: center;
  min-height: 50vh;
  @include display(flex);
  @include align-items(center);
  background-size: cover;
  background-position: center;
  background-color: #2c2516;

  h1 {
    font-size: 6.2rem;
    @include fontVariantInclude("primary-font-black");
    color: $brand-primary-color;
    margin: 0 0 2rem;
    line-height: 100%;
    text-transform: uppercase;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);

    span {
      font-style: italic;
    }
  }

  p {
    font-size: 2rem;
    @include fontVariantInclude("primary-font-bold");
    color: $base-text-color;
    padding: 0.8rem 1.8rem;
    background-color: $brand-accent-color;
    display: inline-block;
    margin: 1rem auto 0;
  }
}

// remove course catalogue facets
.a--course-catalogue-01__courses-container {
  width: 100%;

  &.courses-listing-narrower {

    li.courses-listing-item {
      padding: 1.5rem;
      width: 25%;
      @include display(flex);

      @media(max-width:$screen-md-max) {
        width: 33.3%;
      }

      @media(max-width:$screen-sm-max) {
        width: 50%;
      }

      @media(max-width:$screen-xs-max) {
        width: 100%;
      }
    }
  }
}

.a--course-catalogue-01__discovery-facet-container {
  display: none;
}

// footer changes

.a--footer {

  &__main {
    width: 100%;
  }

  &__logo {
    border: none;
  }

  &__nav {
    margin-left: auto;
    text-align: right;
  }

  .a--footer__links-container li {
    margin: 0.5rem 0 0.5rem 1.5rem;
  }
}

// bottom page cta for signin/signup

.cset--bottom-signin-cta {
  border-top: 0.2rem solid #ddd;
  border-bottom: 0.2rem solid #ddd;
  background-color: #fafafa;
  padding-top: 7rem;
  padding-bottom: 7rem;
  text-align: center;

  &__cta-container {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
  }

  h2 {
    margin: 0 0 3rem;
    font-size: 3.2rem;
  }

  .create-account-cta, .sign-in-cta {
    min-width: 23rem;
    padding: 1.5rem 2rem;
    @include primary-font;
    display: inline-block;
    margin: 0;
    font-size: 1.8rem;
    @include fontVariantInclude($global-font-cta-buttons);
    @include button_radius;
    @include button_splash($buttons-border-radius);
  }

  .create-account-cta {
    border: none;
    background-color: $brand-accent-color;
    color: pick-visible-color($brand-accent-color, $base-text-color, #fff);
  }

  .sign-in-cta {
    border: 0.2rem solid $brand-primary-color;
    color: $brand-primary-color;
    background: none;

    &:hover, &:focus {
      background-color: $brand-primary-color;
      color: pick-visible-color($brand-primary-color, $base-text-color, #fff);
    }
  }

  .cta-divider {
    display: inline-block;
    max-width: 15rem;
    margin: 2rem 3rem;
    font-size: $font-size-base-body;
  }
}

// header nav padding changes

.a--header-design-01 .a--site-menu__group {
  padding: 0;

  .a--nav-cta {
    margin-right: 5rem;
  }

  &.a--slide-menu {

    .a--nav-cta {
      margin: 1.5rem 2rem;
    }
  }

  .a--user-avatar {
    margin-left: 3rem;
  }
}

// table style in plain content

.a--plain-content {

  table {
    max-width: 72rem;

    th, td {
      border: 0.1rem solid rgba($base-text-color, 0.3);
      padding: 1rem;
    }
  }
}

.cset--footer-apps {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include flex-wrap(wrap);
  border-top: 0.2rem solid #ddd;
  margin: 3rem auto 0;
  padding: 3rem;

  &__text {
    display: block;
    @include flex-shrink(0);
    @include flex-grow(0);
    padding: 1.5rem;
  }

  .app-button {
    display: block;
    @include flex-shrink(0);
    @include flex-grow(0);
    padding: 1.5rem;

    img {
      display: block;
      height: 4rem;
      width: auto;
    }

    &.app-store-button {

    }

    &.play-store-button {

    }
  }
}
