@import "header/uw-header";

.a--hero-section-01 h1 {
  @include primary-font-bold;
}

.account-settings-container {

  .account-nav {

    button#accounts-tab {
      display: none;
    }
  }
}

form#register .form-field.password-password {
  position: relative;

  &:after {
    content: 'Passwords must contain at least 12 characters and must contain one of each of the following: lower case letter, upper case letter, special character.';
    display: block;
    @include primary-font;
    font-size: 1.4rem;
    color: rgba(0,0,0,0.7);
    margin: 1rem 0 0;
  }
}

form#passwordreset-form .form-field.new_password1-new_password1 {
  position: relative;

  &:after {
    content: 'Passwords must contain at least 12 characters and must contain one of each of the following: lower case letter, upper case letter, special character.';
    display: block;
    @include primary-font;
    font-size: 1.4rem;
    color: rgba(0,0,0,0.7);
    margin: 1rem 0 0;
  }
}

form#passwordreset-form .form-field.new_password2-new_password2 {
  position: relative;

  &:after {
    content: 'Passwords must contain at least 12 characters and must contain one of each of the following: lower case letter, upper case letter, special character.';
    display: block;
    @include primary-font;
    font-size: 1.4rem;
    color: rgba(0,0,0,0.7);
    margin: 1rem 0 0;
  }
}

.learner-achievements {
  display: none;
}

.search-results .search-results-item .result-type {
  bottom: 50px;
}
