$primary_brand_color: #0090c1 !default;
$buttons_accents_color: #0090c1 !default;
$buttons_text_color: #fff !default;
$text_color: #101010 !default;
$selected_font: 'Roboto' !default;
$selected_font_family: null !default;
$header_logo_height: 50 !default;
$header_font_size: 15 !default;
$header_background_color: #fff !default;
$header_text_color: #000 !default;
$header_buttons_color: #0090c1 !default;
$header_buttons_text_color: #fff !default;
$footer_logo_width: 60 !default;
$footer_font_size: 15 !default;
$footer_background_color: #fff !default;
$footer_text_color: #000 !default;
$footer_links_color: #0090c1 !default;
$footer_copyright_text_color: #000 !default;