<%namespace name='static' file='/static_content.html'/>

<%!
from django.utils.translation import ugettext as _
%>

<%page args="template_settings, course_vars" />

<%
  course_image = course_vars['course_image']

  courseware_button_already_enrolled_text = template_settings.get('courseware_button_already_enrolled_text', _("You are enroled in this module"))
  courseware_button_view_courseware_text = template_settings.get('courseware_button_view_courseware_text', _("View Module"))
  courseware_button_in_cart_text = template_settings.get('courseware_button_in_cart_text', _("Module is in your cart."))
  courseware_button_course_full_text = template_settings.get('courseware_button_course_full_text', _("Module is full"))
  courseware_button_invitation_only_text = template_settings.get('courseware_button_invitation_only_text', _("Enrolment in this module is by invitation only"))
  courseware_button_enrollment_closed_text = template_settings.get('courseware_button_enrollment_closed_text', _("Enrolment is Closed"))
  courseware_button_add_to_cart_text = template_settings.get('courseware_button_add_to_cart_text', _("Add to Cart / Price: ")) + course_vars['course_price']
  courseware_button_enroll_text = template_settings.get('courseware_button_add_to_cart_text', _("Enrol in ")) + course_vars['course_name']
  view_in_studio_button_text = template_settings.get('view_in_studio_button_text', _("View About Page in studio"))
%>

<section class="a--course-about-01__header">
  <div class="a--course-about-01__header__background" style="background-image: url('${course_image}')">

  </div>
  <div class="a--course-about-01__header__overlay">
  </div>
  <div class="bs-container a--container a--course-about-01__header__content">
    <div class="a--course-about-01__header__image">
      % if course_vars['course_video']:
        <a href="#" data-toggle="modal" data-target="#videoModal" class="a--course-about-01__header__video-trigger"><i class="fa fa-play-circle"></i></a>
      % endif
      <img src="${course_image}">
    </div>
    <div class="a--course-about-01__header__info">
      <h1 class="a--course-about-01__header__title">${course_vars['course_name']}</h1>
      <p class="a--course-about-01__header__description">${course_vars['short_description']}</p>
      % if course_vars['course_about_show_social_links']:
        <div class="a--course-about-01__social-share">
          <span class="a--course-about-01__social-share__helper expand-on-parent-hover">Share this course on:</span>
          <a href="${course_vars['twitter_href']}" class="a--twitter"><i class="fa fa-twitter"></i></a>
          <a href="${course_vars['facebook_href']}" class="a--facebook"><i class="fa fa-facebook"></i></a>
          <a href="${course_vars['email_href']}" class="a--email"><i class="fa fa-envelope"></i></a>
        </div>
      % endif
      <div class="a--course-about-01__courseware-button-wrapper">
        % if course_vars['user_authenticated'] and course_vars['course_registered']:
          % if course_vars['show_courseware_link']:
            <a href="${course_vars['course_href_target']}" class="a--course-about-01__courseware-btn">
              ${courseware_button_view_courseware_text}
            </a>
          % else:
            <span class="a--course-about-01__courseware-btn register disabled">
              ${courseware_button_already_enrolled_text}
            </span>
          % endif
        % elif course_vars['course_in_cart']:
          <a href="${course_vars['cart_link']}" class="a--course-about-01__courseware-btn add-to-cart">
            ${courseware_button_already_enrolled_text}
          </a>
        % elif course_vars['course_is_full']:
          <span class="a--course-about-01__courseware-btn register disabled">
            ${courseware_button_course_full_text}
          </span>
        % elif course_vars['course_is_invitation_only'] and not course_vars['user_can_enroll']:
          <span class="a--course-about-01__courseware-btn register disabled">
            ${courseware_button_invitation_only_text}
          </span>
        % elif not course_vars['is_shib_course'] and not course_vars['user_can_enroll']:
          <span class="a--course-about-01__courseware-btn register disabled">
            ${courseware_button_enrollment_closed_text}
          </span>
        % elif course_vars['can_add_course_to_cart']:
          % if course_vars['user_authenticated']:
            <a href="#" id="${course_vars['user_authenticated_reg_element_id']}" class="a--course-about-01__courseware-btn add-to-cart">
              ${courseware_button_add_to_cart_text}
            </a>
          % else:
            <a href="${course_vars['public_reg_element_href']}" id="${course_vars['public_reg_element_id']}" class="a--course-about-01__courseware-btn add-to-cart">
              ${courseware_button_add_to_cart_text}
            </a>
          % endif
        % else:
          <a href="#" class="a--course-about-01__courseware-btn register">
            ${courseware_button_enroll_text}
          </a>
          <div id="register_error"></div>
        % endif

        % if course_vars['user_has_staff_access'] and course_vars['course_studio_url'] is not None:
          <a href="${course_vars['course_studio_url']}" class="a--course-about-01__courseware-btn">
            ${view_in_studio_button_text}
          </a>
        % endif
      </div>
    </div>
  </div>
</section>


% if course_vars['course_video']:
  <div class="modal a--modal a--modal__video fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal">
    <div class="a--modal__outer-container">
      <div class="a--modal__video__container bs-container a--container">
        <button type="button" class="a--modal__close-button" data-dismiss="modal" aria-label="Close"><i class="fa fa-remove"></i></button>
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'>${course_vars['course_video']}</div>
      </div>
    </div>
  </div>
% endif

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>
