<%page args="course" />
<%
  course = course
%>
<%namespace name='static' file='/static_content.html'/>
<%namespace file='/translator-templates/_single-course.html' import="get_course_info" />
<%!
from django.utils.translation import ugettext as _
%>

<%
  course_info = get_course_info(course)
  course_image = course_info['course_image']
%>

<article class="cmc--course-tile col-xs-12 col-sm-6 col-lg-4">
  <a href="${course_info['course_url']}" class="course-image" style="background-image: url('${course_image}');">
    <span />
  </a>
  <a href="${course_info['course_url']}" class="course-name">${course_info['course_code']} ${course_info['course_title']}</a>
  <p class="course-description">
    ${course_info['course_short_description']}
  </p>
</article>
