<%page args="user_authenticated, user_name, logo_positive, logo_negative, logo_url, display_shopping_cart, shopping_cart_url, display_course_name, course_number, course_name, menu_items, slideout_menu_items" />
<%!
from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>
## mako

<!-- top navigation -->
<section class="isc--header-design-01 isc--site-nav">
  <div class="bs-container a--container isc--site-nav__container">
    <h1 class="isc--site-nav__group-left">
        <img class="isc--site-nav__logo isc--logo-full" src="${logo_positive}" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}">
      <a href="${logo_url}" class="isc--site-nav__logo__container isc--site-nav__logo__negative">
        <img class="isc--site-nav__logo isc--logo-full" src="${logo_negative}" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}">
      </a>
      % if display_course_name:
      <div class="isc--site-nav__course-name">
        <span>${course_number}</span>${course_name}
      </div>
      % endif
    </h1>
    <nav class="isc--site-nav__group-right" id="site-menu">
      <ul class="isc--site-menu__container">
        <li class="isc--site-menu__group isc--course-exit-message">
          <span>${_("Please close this window or tab to exit your course")}</span>
        </li>
      </ul>
    </nav>
  </div>
</section>
		<!-- end of top navigation -->
