## mako
<%page args="options" />
<%namespace file='/theme-variables.html' import="translate" />

<%
  element_style = ""
  element_style = element_style + "color: " + options['text-color'] + ";" + element_style + "background-color: " + options['bg-color'] + ";" + element_style + "border-color: " + options['border-color'] + ";"
%>

<a class="amc--element--cta-button amc--style-classes ${options['font-size']} ${options['font-family']} ${options['border-width']} ${options['margin-top']} ${options['margin-right']} ${options['margin-bottom']} ${options['margin-left']} ${options['padding-top']} ${options['padding-right']} ${options['padding-bottom']} ${options['padding-left']}" style="${element_style}" href="${options['url']}">
  ${translate(options['text-content'])}
</a>
