## mako
<%page args="options" />
<%! from django.utils import translation %>
<%namespace file='/theme-variables.html' import="translate" />

<%
  element_style = ""
  element_style = element_style + "color: " + options['text-color'] + ";"
%>

<p class="amc--element--paragraph-text amc--style-classes ${options['font-size']} ${options['font-family']} ${options['text-alignment']} ${options['margin-top']} ${options['margin-right']} ${options['margin-bottom']} ${options['margin-left']}" style="${element_style}">
  ${translate(options['text-content'])}
</p>
