.a--accomplishment-design-01 {
  color: $base-text-color;

  &__body-wrapper {
    @include linear-gradient(to right, $brand-primary-color, darken($brand-primary-color, 15%));
    @include display(flex);
    @include flex-direction(column);
  }

  &__body {
    @include display(flex);
    @include flex-grow(1);
    padding: 7.5em 6em 3em;

    @media (max-width: 900px) {
      @include flex-wrap(wrap);
    }

    @media screen {
      padding: 7.5em 6em;
    }
  }

  &__platform-info {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);
    width: 30%;
    padding: 5em;
    position: relative;
    z-index: 1;
    background-color: #F8F8F8;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    @media (max-width: 900px) {
      width: 100%;
    }

    &__main {
      text-align: center;
      margin: 5em;

      .organisation-logo {
        max-width: 100%;
        display: block;
        height: auto;
        margin: 0 auto 6em;
      }

      .platform-name {
        font-size: 4em;
        @include primary-font;
        margin: 0 0 1.5em;
      }

      p {
        font-size: 3em;
        @include primary-font-light;
        margin: 1em;
      }
    }

    &__signatures {
      @include display(flex);
      @include flex-direction(column);

      .signature-container {
        margin: 5em;
        text-align: center;

        .signee-signature {
          display: block;
          max-width: 100%;
          max-height: 15em;
          height: auto;
          margin: 0 auto 0.5em;
        }

        .signee-name {
          display: block;
          font-size: 3.5em;
          @include primary-font;
          line-height: 150%;
        }

        .signee-title {
          display: block;
          font-size: 2.5em;
          @include primary-font;
          text-transform: uppercase;
          color: lighten($base-text-color, 15%);
        }

        .signee-organisation {
          display: block;
          font-size: 2.5em;
          @include primary-font;
          color: lighten($base-text-color, 15%);
        }
      }
    }
  }

  &__main {
    display: flex;
    align-items: center;
    width: 70%;
    padding: 10em;
    position: relative;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    @media (max-width: 900px) {
      width: 100%;
    }

    &__content {

      .main-header {
        display: flex;
        align-items: center;

        @media (max-width: 639px) {
          display: block;
        }

        .accomplishment-type-symbol {
          width: 15em;
          margin-right: 5em;

          img {
            width: 100%;
            height: auto;
          }
        }

        .course-info {
          color: $brand-primary-color;
          @include primary-font-light;
          font-size: 4.5em;
          line-height: 150%;
        }
      }

      .vertical-divider-bar {
        display: block;
        width: 90em;
        max-width: 100%;
        height: 1em;
        background-color: $brand-primary-color;
        margin: 10em 0;

        @media (max-width: 639px) {
          width: 100%;
        }
      }

      p {
        font-size: 4em;
        @include primary-font-light;
      }

      .student-name {
        @include primary-font;
        color: $brand-primary-color;
        font-size: 18em;

        @media (max-width: 639px) {
          font-size: 6em;
        }
      }

      .course-name-main {
        color: $brand-primary-color;
        font-size: 6em;
        @include primary-font-light;

        @media (max-width: 639px) {
          font-size: 5em;
        }
      }
    }
  }
}

.a--accomplishment-design-01__certificate-info-print-only {
  overflow: visible;
  color: #fff;

  .info-upper {
    @include display(flex);
    @include align-items(center);
    margin-bottom: 1em;

    @media (max-width: 639px) {
      display: block;
    }
  }

  .info-right {
    margin-left: auto;

    @media (max-width: 639px) {
      margin-bottom: 1em;
    }
  }

  a {
    color: #fff;
    font-weight: bolder;
    word-break: break-word;
  }

  @media screen {
    padding: 0 2em 2em;
    font-size: 8px;
  }
}


.a--accomplishment-design-01__body-wrapper.portrait {

  .a--accomplishment-design-01 {

    &__body {
      @include flex-direction(column);
    }

    &__platform-info {
      order: 2;
      @include flex-direction(row);
      width: 100%;

      &__main {
        width: 30%;
      }

      &__signatures {
        width: 69%;
        @include flex-direction(row);
        @include align-items(center);
      }
    }

    &__main {
      order: 1;
      @include flex-grow(1);
      width: 100%;
    }
  }
}

// Part responsible for proper print output

@media print {
  .a--accomplishment-design-01 {

    &__body {
      width: 100%;
      padding: 1.5cm 1cm 0.7cm;
    }

    &__platform-info {
      width: 30%;
      background-color: #F8F8F8;

      &__main {
        margin: 0.2cm 0.5cm 0.5cm;

        .organisation-logo {
          margin-bottom: 0.6cm;
        }

        .platform-name {
          font-size: 12pt;
          margin: 0 0 0.15cm;
        }

        p {
          font-size: 8pt;
          margin: 0.4cm;
        }
      }

      &__signatures {

        .signature-container {
          margin: 0.2cm;

          .signee-signature {
            margin: 0 auto;
          }

          .signee-name {
            font-size: 10pt;
          }

          .signee-title {
            font-size: 8pt;
          }

          .signee-organisation {
            font-size: 8pt;
          }
        }
      }
    }

    &__main {
      width: 69%;
      padding: 1cm;
      background-color: #fff;

      &__content {

        .main-header {

          .accomplishment-type-symbol {
            width: 1.5cm;
            margin-right: 0.5cm;
          }

          .course-info {
            font-size: 14pt;
          }
        }

        .vertical-divider-bar {
          width: 9cm;
          height: 0.1cm;
          margin: 1cm 0;
        }

        p {
          font-size: 12pt;
        }

        .student-name {
          font-size: 42pt;
        }

        .course-name-main {
          font-size: 18pt;
        }
      }
    }

    &__certificate-info-print-only {
      margin-bottom: 0.7cm;
      font-size: 0.25cm;
      padding: 0 1.1cm;
      color: #fff;

      .info-upper {
        @include display(flex);
        @include align-items(center);
      }
    }
  }
}
