<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  % if SHOW_GOOGLE_ANALYTICS:

    ga('create', '${GOOGLE_ANALYTICS_APP_ID}', 'auto');
    %if USER_EMAIL_HASH:
      ga('set', 'userId', '${USER_EMAIL_HASH}');
      ga('set', 'dimension1', '${USER_EMAIL_HASH }');
    %endif
    ga('send', 'pageview');

  % endif
</script>
<!-- End Google Analytics -->

<!-- Add new Analytics system. Note: for now we'll be duplicating analytics while we're testing the new Analytics organisation. Once we're satisfied with how it works, we'll remove the old one and keep just the new one. -->
<!--
  usedId: we keep a consistent userId in Analytics in order to keep tracking a single user properly
  Dimension1: Organisation
  Dimension2: LMS Visitor type
  Dimension3: Visited course name
  Dimension4: LMS or Studio
-->


