<%page expression_filter="h"/>
<%namespace name='static' file='/static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="/main.html" />

<%block name="pagetitle">${_("Accessibility Statement")}</%block>
<%block name="headextra">
  <meta name="robots" content="noindex" />
</%block>

<style>
  p, section, li {
    line-height: 1.5;
    font-size: 16px;
  }
  p {
    max-width: 800px;
  }
  .long-text {
    hyphens: auto;
  }
  h2 {
    font-size: 26px;
    color: #000;
    font-weight: 400;
    margin-bottom: 1.3em;
  }
  h3 {
    color: #64647C;
    font-weight: 300;
    font-size: 22px;
  }
</style>

<main aria-label="Content" tabindex="-1" class="container" style="padding: 10px 50px;">
  <section>
    <h1>${_("Accessibility Statement")}</h1>
    <h2>Accessibility statement for Appsembler</h2>
    <p>This accessibility statement applies to the websites at: <a href="https://openedx.open.ac.uk">https://openedx.open.ac.uk</a></p>
    <p> These websites are run by Appsembler. We want as many people as possible to be able to use these websites. For example, that means you should be able to:
      <li>change colours, contrast levels and fonts</li>
      <li>navigate most of the website using just a keyboard</li>
      <li>navigate most of the website using speech recognition software</li>
      <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </p>
    <p>We’ve also made the website text as simple as possible to understand.</p>
    <p><a href="https://mcmw.abilitynet.org.uk">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
    <h3>How accessible this website is</h3>
    <p>We know some parts of this website are not fully accessible:
    <li>A visible tab focus indicator is not present on all pages</li>
    <li>Alternative attributes are not always meaningful</li>
    <li>Some copy has a low colour contrast to the site background</li>
    <li>Some form inputs do not have associated labels within the HTML</li>
    <li>Autocomplete attributes have not been applied to form input fields</li>
    <li>Text does not reflow to a single column at 400% zoom</li>
    <li>Boundaries of input fields have a low contrast</li>
    </p>
    <h3>Feedback and contact information</h3>
    <p>If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:
    <li><a href="mailto:accessibility-feedback@open.ac.uk">accessibility-feedback@open.ac.uk</a></li>
    <li>call 0300 303 5303</li>
    We’ll consider your request and get back to you in 10 days.
    </p>
    <h3>Reporting accessibility problems with this website</h3>
    <p>We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact: <a href="mailto:accessibility-feedback@open.ac.uk">accessibility-feedback@open.ac.uk</a></p>
    <h3>Enforcement procedure</h3>
    <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com">contact the Equality Advisory and Support Service (EASS).</a></p>
    <h2>Technical information about this website’s accessibility</h2>
    <p>Appsembler is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    <h3>Compliance status</h3>
    <p>This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliances and exemptions listed below.</p>
    <h2>Non-accessible content</h2>
    <p>The content listed below is non-accessible for the following reasons.</p>
    <br>
    <h3>Non-compliance with the accessibility regulations</h3>
    <p class="long-text">A visual focus indicator is not always present when navigating the application with a keyboard. This is a failure of WCAG 2.1 success criterion 2.4.7 Focus Visible.
    We plan to add a consistent focus indicator by 1 July, 2021. 
    Heading levels have been skipped on some pages of the application, these include ‘Profile’, ‘Course’ and ‘Dashboard’. This is a failure of WCAG 2.1 success criterion 2.4.1 Bypass Blocks. 
    We plan to review and update the heading structure across the site by 1 July, 2021.
    Some images have incorrect alternative attributes. This is a failure of WCAG 2.1 success criterion 1.1.1 Non-Text Content.
    We plan to update the alternative attributes of images on the website by 1 July, 2021.
    Some copy has a low colour contrast to the site background, this is particularly notable on focused links. This is a failure of WCAG 2.1 success criterion 1.4.3 Contrast Minimum.

    We plan to update the colour contrast on the site by 1 July, 2021. 

    On the ‘Discussion’ page the ‘Receive updates’ check box has an accessible name of Toggle Notification Settings which does not match the visible name. This is a failure of WCAG 2.1 success criterion 2.5.3 Label in Name.

    We plan to update the accessible name of this check box by 1 July, 2021.

    Boundaries of inputs do not have sufficient contrast in an unfocused state. This is present on the ‘Create an account’, ‘Sign in’, ‘Course’ and ‘Discussion’ pages.
    This is a failure of WCAG 2.1 success criterion 1.4.11 Non-text Contrast.

    We plan to update the contrast of input boundaries by 1 July, 2021.
    No detailed error suggestions are provided for the ‘email’ field on the Create an account’, ‘Sign in’ and ‘Account Settings’ pages. This is a failure of WCAG 2.1 success criterion 3.3.3 Error Suggestion.
    We plan to ensure that error suggestions are more detailed by 1 July, 2021.
    </p>
    <br>
    <h3>Disproportionate burden</h3>
    <p class="long-text">We have assessed the cost of fixing the issues with form elements not being grouped. We believe that doing so now would be a <a href="https://www.legislation.gov.uk/uksi/2018/952/regulation/7/made">disproportionate burden</a> within the meaning of the accessibility regulations. We will make another assessment when we have reviewed the budget for our next development round by the end of June 2021.
 
    We have assessed the cost of fixing the issues with at 200% text only zoom some text displays over other text or becomes cropped by the boundaries of components. This is a failure of WCAG 2.1 success criterion 1.4.4 Resize Text. We believe that doing so now would be a <a href="https://www.legislation.gov.uk/uksi/2018/952/regulation/7/made">disproportionate burden </a> within the meaning of the accessibility regulations. We will make another assessment when we have reviewed the budget for our next development round by the end of June 2021.

    We have assessed the cost of fixing the issues with at 400% zoom at a 1280px viewport two-dimensional scrolling is present. This is a failure of WCAG 2.1 success criterion 1.4.10 Reflow. We believe that doing so now would be a <a href="https://www.legislation.gov.uk/uksi/2018/952/regulation/7/made">disproportionate burden </a> within the meaning of the accessibility regulations. We will make another assessment when we have reviewed the budget for our next development round by the end of June 2021.
    We have assessed the cost of fixing the issue with no search or site map being present. This is a failure of WCAG 2.1 success criterion 2.4. Multiple Ways. We believe that doing so now would be a <a href="https://www.legislation.gov.uk/uksi/2018/952/regulation/7/made">disproportionate burden </a> within the meaning of the accessibility regulations. We will make another assessment when we have reviewed the budget for our next development round by the end of June 2021.
    We have assessed the cost of fixing the issue with form input fields not utilising autocomplete attributes. This is a failure of WCAG 2.1 success criterion 1.3.5 Identify Input Purpose. We believe that doing so now would be a <a href="https://www.legislation.gov.uk/uksi/2018/952/regulation/7/made"> disproportionate burden </a> within the meaning of the accessibility regulations. We will make another assessment when we have reviewed the budget for our next development round by the end of June 2021.
    </p>
    <h2>Content that’s not within the scope of the accessibility regulations</h2>
    <h3>User create content</h3>
    <p>Any user created content such as videos, links, images and downloadable documents are outside of Appsembler’s control. Please directly contact the Module Team should any issues with these be present.</p>
    <h2>Preparation of this accessibility statement</h2>
    <p style="margin-bottom: 80px;">This statement was prepared on 21/09/2020. It was last reviewed on 21/09/2020.
    This website was last tested on 18/09/2020. The test was carried out by Zoonou.
    We used the <a href="https://www.w3.org/TR/WCAG-EM/">WCAG-EM</a> approach when deciding on the sample of pages to test.</p>
  </section>
</main>
