@charset "UTF-8";
.wrapper-header .branding a img {
  max-height: 48px; }

body.view-settings .group-settings.basic .list-actions {
  display: none; }

.a--howitworks-intro {
  padding: 12rem 0;
  background: linear-gradient(90deg, #154d64, #231f26); }
  .a--howitworks-intro__container {
    padding: 3rem;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: #fff; }
    .a--howitworks-intro__container h1 {
      font-weight: 500;
      font-size: 64px;
      line-height: 72px;
      margin: 0 0 3rem; }
    .a--howitworks-intro__container h4 {
      font-size: 18px;
      opacity: 0.8; }
  .a--howitworks-intro__login-cta {
    display: inline-block;
    margin: 6rem auto 0;
    font-size: 18px;
    padding: 15px 40px;
    border-radius: 40px;
    min-width: 320px;
    color: #fff;
    background-color: #0090c1;
    opacity: 1;
    transition: all 0.3s ease-in-out; }
    .a--howitworks-intro__login-cta:hover, .a--howitworks-intro__login-cta:focus {
      color: #fff;
      opacity: 0.7; }

.amc--notification__content {
  max-width: 1280px;
  min-width: 900px;
  width: 100%;
  padding: 2rem 1.5rem;
  border-radius: 3rem;
  margin-top: 1.5rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border: 0.2rem solid #E4572E;
  color: #1a1a1a;
  font-size: 1.4rem; }

.amc--notification--button {
  padding: 0.7rem 2rem;
  margin: 0.5rem;
  border-radius: 3rem;
  text-decoration: none; }
  .amc--notification--button.primary-action  {
    background-color: #0090c1;
    border: 0.2rem solid #0090c1;
    color: #fff; }
  .amc--notification--button.secondary-action {
    background: none;
    border: 0.2rem solid #0090c1;
    color: #0090c1; }

.amc--notification--tier-expiration {
  display: flex;
  align-items: center; }

.amc--notification__text-left {
  display: flex;
  align-items: center; }

.amc--notification__actions-right {
  margin-left: auto; }

.a--site-message__content {
  min-height: 70vh;
  display: flex;
  align-items: center;
  width: 86rem;
  max-width: 90%;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0 auto; }
  .a--site-message__content h1 {
    font-size: 6.4rem;
    font-weight: bold;
    color: #0090c1;
    margin: 0 0 3rem;
    line-height: 130%; }
  .a--site-message__content p {
    font-size: 1.6rem; }
  .a--site-message__content svg {
    fill: #0090c1;
    max-width: 48rem;
    width: 80%;
    margin-bottom: 5rem; }

.xblock .mentoring .copyright {
  display: none; }
