<%page args="template_settings" />
<%namespace name='static' file='/static_content.html'/>


<section class="a--plain-content ${template_settings['optional_classes']}" style="${template_settings['extra_css']}">
  <div class="bs-container a--container a--plain-content__container">
    <div class="asu-learn-content">
      <h2>About Starbucks Global Academy</h2>
      <p>Starbucks Global Academy provides Starbucks partners free access to courses designed to improve careers and strengthen communities. Courses cover a range of topics to advance personal and professional goals and include career and workplace content from Starbucks combined with innovative curriculum and learning platforms from the top-ranked Arizona State University.</p>
      <img class="asu-learn-img" src="${static.url('images/partners.png')}" />
      <h3>With Starbucks Global Academy, partners can:</h3>
      <ul>
        <li>Experience learning online, anytime, at no cost.</li>
        <li>Connect and interact with other partners around the world.</li>
        <li>Earn digital badges and, in some cases, resume-building credentials.</li>
      </ul>
      <div class="asu-learn-cta">
        <p>Ready for a lifelong learning journey?</p>
        <div class="asu-learn-cta-links">
          <a class="asu-learn-cta-link" href="/register">Enroll Now</a>
          <span>-or-</span>
          <a class="asu-learn-cta-link" href="/login">Login</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="asu-learn-content">
      <h2>Arizona State University</h2>
      <p>Arizona State University (ASU) is ranked one of the top 100 universities in the world. With more than 300 degrees, ASU has a major that will fit any student. With top faculty conducting leading-edge research, students get access to an education that makes them master learners, capable of learning anything throughout their lives.</p>
      <img class="asu-learn-img asu-learn-img-single" src="${static.url('images/asu.png')}" />
      <h3>Out of thousands of U.S. schools, ASU is ranked:</h3>
      <ul>
        <li>#1 in innovation, ahead of Stanford and MIT</li>
        <li>#1 producer of Fulbright scholars, ahead of Cornell, UC Berkeley and UCLA</li>
        <li>#1 public university chosen by international students</li>
        <li>#4 online undergraduate program in the nation</li>
        <li>Top ten for graduate employability</li>
        <li>One of the best college values in public higher education</li>
      </ul>
      <p><a href="http://www.asu.edu/?feature=academics">Meet our faculty</a> and <a href="http://www.asu.edu/?feature=research">learn more</a> about ASU’s rankings, groundbreaking research, and commitment to its communities.</p>
    </div>
    <hr>
    <div class="asu-learn-content">
      <h2>Starbucks</h2>
      <img class="asu-learn-img asu-learn-img-single" src="${static.url('images/starbucks.png')}" />
      <p>It happens millions of times each week – a customer receives a drink from a Starbucks barista – but each interaction is unique.</p>
      <p>It’s just a moment in time – just one hand reaching over the counter to present a cup to another outstretched hand.</p>
      <p>But it’s a connection.</p>
      <p>We make sure everything we do honors that connection – from our commitment to the highest quality coffee in the world, to the way we engage with our customers and communities <a href="https://www.starbucks.com/responsibility">to do business responsibly</a>.</p>
      <p>From <a href="https://www.starbucks.com/about-us/company-information">our beginnings</a> as a single store over forty years ago, in every place that we’ve been, and every place that we touch, we've tried to make it a little better than we found it.</p>
    </div>
  </div>
</section>
