<%namespace name='static' file='/static_content.html'/>

<section class="a--heading-plus-text-plus-cta palix--index-what-learn">
  <div class="bs-container a--container a--heading-plus-text-plus-cta__container palix--index-what-learn__container">
      <div class="palix--index-what-learn__graphic">
        <img src="${static.url('images/branding/brainstory-icon-color.svg')}" role="presentation" alt="Brain Story Logo" />
      </div>
      <div class="palix--index-what-learn__content">
        <h2>What You’ll Learn</h2>
        <p>
          Lifelong health is determined by more than just our genes: experiences at critical stages of development change the brain in ways that increase or decrease risk for later physical and mental illness, including addiction. Brain Story Certification is an online course aimed at improving understanding of the science underpinning this process, and at exploring the consequences of this knowledge for individuals, families, and communities. In this course you will hear from many of the scientists who collaborated on the Core Story of Brain Development (also known as the Brain Story). You will learn more about the biological processes at play, and about how experiences and relationships shape these processes.
        </p>
        <p>
          This free online course was created by the Alberta Family Wellness Initiative and is open to everyone. Start any time and continue at your own rate.
        </p>
        <div class="a--heading-plus-text-plus-cta__cta-container">
          <a href="http://training.albertafamilywellness.org/courses/course-v1:AFWI+BRST101+2016/about" class="a--cta">Learn More</a>
        </div>
      </div>
  </div>
</section>
