{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %}You're On Your Way{% endblocktrans %}

{% blocktrans %}Congratulations on taking the first step on the path of lifelong learning.{% endblocktrans %}

{% blocktrans %}Click the following link to verify your email address. We will send you a follow-up email shortly about your program.{% endblocktrans %}
{% block reset_link %}
{{ protocol }}://{{ site_name }}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}

{% blocktrans %}The {{ platform_name }} Team{% endblocktrans %}

{% endautoescape %}
