## mako
<%! from django.contrib.staticfiles.templatetags.staticfiles import static %>

<section class="a--plain-content cset--learn-more">
  <div class="bs-container a--container a--plain-content__container">
    <h2>About Edge</h2>
    <p>Edge exists to provide youth with engaging, impactful customer service training that creates a solid foundation from which to launch a career. These trainings are all available on any device, for free, to flexibly support job attainment, career advancement, and personal development. Through Edge training, youth will be better equipped to serve, assuring managers that the Edge employees they recruit and retain are more ready for their jobs. The Edge curriculum will become a national standard curriculum leveraged by anyone interested in entering the service sector in any industry; and recognized by employers as a preferred training for new hires.</p>
    <p>Choose to set yourself apart with Edge and you will:</p>
    <ul class="cset--learn-more__list-with-icons">
        <li class="cset--learn-more__list-with-icons__item">
          <div class="cset--learn-more__list-with-icons__icon-container">
            <img src="${static('images/learn-more-icons/complete_modules.png')}" alt="Complete modules" role="presentation" />
          </div>
          <span>Complete fun, quick, easy modules right on your phone, whenever you want, for free.</span>
        </li>
        <li class="cset--learn-more__list-with-icons__item">
          <div class="cset--learn-more__list-with-icons__icon-container">
            <img src="${static('images/learn-more-icons/each_module.png')}" alt="Learn valuable skills" role="presentation" />
          </div>
          <span>Learn valuable skills that you will use throughout your entire career.</span>
        </li>
        <li class="cset--learn-more__list-with-icons__item">
          <div class="cset--learn-more__list-with-icons__icon-container">
            <img src="${static('images/learn-more-icons/celebrate_your_learning.png')}" alt="Celebrate your learning" role="presentation" />
          </div>
          <span>Earn a certificate for each module to strengthen your resume and job applications.</span>
        </li>
    </ul>
    <h3><i>Content Framework</i></h3>
    <table style="width:100%; margin-bottom: 3rem; text-align: center;">
        <tr style="background-color:#c7e9f4">
            <th>Customer Service</th>
            <th>Leadership</th>
            <th>Personal Development</th>
        </tr>
        <tr>
            <td>Customer Service Basics</td>
            <td>Self-Leadership</td>
            <td>Personal Finance</td>
        </tr>
        <tr>
            <td>Advanced Customer Service</td>
            <td>Leading Others</td>
            <td>Employment Planning</td>
        </tr>
    </table>
    <p>Edge is a part of the national 100,000 Opportunities Initiative which aims to employ and support 1,000,000 youth. As a truly collaborative effort, Edge brings together many diverse stakeholders, each representing a specific skill set and aspect of the project. The entire Edge initiative is powered by Arizona State University through generous support from Schultz Family Foundation.</p>
    <div class="cset--learn-more__logos-inline">
      <img src="${static('images/learn-more-icons/edge-logo.png')}" style="width: 12rem;" alt="Edge" role="presentation" />
      <img src="${static('images/learn-more-icons/asu-logo.png')}" style="width: 15rem;" alt="ASU" role="presentation" />
      <img src="${static('images/learn-more-icons/schultz-logo.png')}" style="width: 12rem;" alt="Schultz Family Foundation" role="presentation" />
    </div>
    <h2>Arizona State University</h2>
    <p>Arizona State University (ASU) is ranked one of the top 100 universities in the world. With more than 300 degrees, ASU has a major that will fit any student. With top faculty conducting leading-edge research, students get access to an education that makes them master learners, capable of learning anything throughout their lives.</p>
    <p>Out of thousands of U.S. schools, ASU is ranked:</p>
    <ul>
        <li>#1 in innovation, ahead of Stanford and MIT</li>
        <li>#1 producer of Fulbright scholars, ahead of Cornell, UC Berkeley and UCLA</li>
        <li>#1 public university chosen by international students</li>
        <li>#4 online undergraduate program in the nation</li>
        <li>Top ten for graduate employability</li>
        <li>One of the best college values in public higher education</li>
    </ul>
    <p><a href="http://www.asu.edu/?feature=academics">Meet our faculty</> and <a href="http://www.asu.edu/?feature=research">learn more</a> about ASU’s rankings, groundbreaking research, and commitment to its communities.</p>
    <h2>Schultz Family Foundation</h2>
    <h3>Making A Difference</h3>
    <p>We are witnessing a fundamental breakdown of the American Dream. Division. Hate. Exclusion. These have replaced respect, mobility, and compassion at the core of our country, leaving our nation at risk.</p>
    <p>Now, we must all ask ourselves:</p>
    <p>Will we allow one’s place in life to be determined by the zip code of one’s birth?</p>
    <p>Will we turn our backs on those who have served our country, yet find decent work out of reach?</p>
    <p>Will we settle for an America where only a few have access to first starts?</p>
    <p>We all share the same dreams—to love and be loved, to find and pursue our purpose and to provide for our families. Yet, we are living in an America where potential is within all of us, but opportunity is not.</p>
    <p>The Schultz Family Foundation is committed to lifting the human spirit and bringing possibility to everyone, regardless of skin color, religion, sexual orientation, gender, or station in life. We see our nation’s challenges, but we also see solutions. If we work together to unlock potential across our communities, we can build a nation that lives up to its promise.</p>
  </div>
</section>
