## mako
<%! from django.contrib.staticfiles.templatetags.staticfiles import static %>

<section class="a--plain-content cset--learn-more">
  <div class="bs-container a--container a--plain-content__container">
    <h2>About Edge</h2>
    <p>Edge exists to provide youth with engaging, impactful customer service training that creates a solid foundation from which to launch a career. These trainings are all available on any device, for free, to flexibly support job attainment, career advancement, and personal development. Through Edge training, youth will be better equipped to serve, assuring managers that the Edge employees they recruit and retain are more ready for their jobs. The Edge curriculum will become a national standard curriculum leveraged by anyone interested in entering the service sector in any industry; and recognized by employers as a preferred training for new hires.</p>
    <div class="cset--learn-more__logos-inline">
      <img src="${static('images/learn-more-icons/edge-logo.png')}" style="width: 14rem;" alt="Edge" role="presentation" />
      <img src="${static('images/learn-more-icons/100k_opportunities.png')}" style="width: 17rem;" alt="100K Opportunities Initiative" role="presentation" />
      <img src="${static('images/learn-more-icons/asu-logo.png')}" style="width: 16rem;" alt="ASU" role="presentation" />
      <img src="${static('images/learn-more-icons/schultz-logo.png')}" style="width: 14rem;" alt="Schultz Family Foundation" role="presentation" />
    </div>
    <p>Edge is a part of the national 100,000 Opportunities Initiative which aims to employ and support 1,000,000 youth. As a truly collaborative effort, Edge brings together many diverse stakeholders, each representing a specific skill set and aspect of the project. The entire Edge initiative is powered by Arizona State University through generous support from Schultz Family Foundation.</p>
    <h3>Content Framework</h3>
    <table style="width:100%; margin-bottom: 3rem; text-align: center;">
        <tr style="background-color:#c7e9f4">
            <th>Customer Service</th>
            <th>Leadership</th>
            <th>Personal Development</th>
        </tr>
        <tr>
            <td>Customer Service Basics</td>
            <td>Self-Leadership</td>
            <td>Personal Finance</td>
        </tr>
        <tr>
            <td>Advanced Customer Service</td>
            <td>Leading Others</td>
            <td>Employment Planning</td>
        </tr>
    </table>
    <h3>Youth</h3>
    <p>Edge is made just for you, to help set yourself apart as you launch your career. Learn valuable, professional skills as you complete each 30-minute training on your phone or computer. Earn a personalized certificate as you complete each Edge module, and then celebrate your accomplishments on your resume and job applications. Edge is recognized by employers and community organizations as a powerful resource to help you develop as a professional. Get your Edge today with the links below and contact <a href="mailtp:support@getyouredge.org">support@getyouredge.org</a> if you need any help!</p>
    <h3>Employers and Service Providers</h3>
    <p>Edge is a recognized curriculum of high-quality, impactful trainings. These flexible tools can be used in many diverse ways, depending on the needs of your organization. Consider the following options as you get started and contact <a href="mailtp:support@getyouredge.org">support@getyouredge.org</a> along the way with any needs.</p>
    <ul class="cset--learn-more__list-with-icons" style="margin-top: 10px;">
        <li class="cset--learn-more__list-with-icons__item col-md-4">
          <div class="cset--learn-more__list-with-icons__icon-container">
            <img src="${static('images/branding/head_Arrows_Icon.png')}" alt="Complete modules" role="presentation" />
            <span>Use Edge with youth as a personalized development tool to address individual areas of need.</span>
          </div>

        </li>
        <li class="cset--learn-more__list-with-icons__item col-md-4">
          <div class="cset--learn-more__list-with-icons__icon-container">
            <img src="${static('images/branding/clipboard.png')}" alt="Learn valuable skills" role="presentation" />
            <span>Incorporate Edge into your existing development and training efforts as a flexible enhancement to your current work.</span>
          </div>

        </li>
        <li class="cset--learn-more__list-with-icons__item col-md-4">
          <div class="cset--learn-more__list-with-icons__icon-container">
            <img src="${static('images/branding/comprehensive.png')}" alt="Celebrate your learning" role="presentation" />
            <span>Adopt Edge as a comprehensive onboarding or training program to provide a consistent foundation to all youth hires.</span>
          </div>

        </li>
    </ul>
    <h2>Arizona State University</h2>
    <p>Arizona State University (ASU) is ranked one of the top 100 universities in the world. With more than 300 degrees, ASU has a major that will fit any student. With top faculty conducting leading-edge research, students get access to an education that makes them master learners, capable of learning anything throughout their lives.</p>
    <p>Out of thousands of U.S. schools, ASU is ranked:</p>
    <ul>
        <li>#1 in innovation, ahead of Stanford and MIT</li>
        <li>#1 producer of Fulbright scholars, ahead of Cornell, UC Berkeley and UCLA</li>
        <li>#1 public university chosen by international students</li>
        <li>#4 online undergraduate program in the nation</li>
        <li>Top ten for graduate employability</li>
        <li>One of the best college values in public higher education</li>
    </ul>
    <p><a href="http://www.asu.edu/?feature=academics">Meet our faculty</a> and <a href="http://www.asu.edu/?feature=research">learn more</a> about ASU’s rankings, groundbreaking research, and commitment to its communities.</p>
    <div class="cset--learn-more__logos-inline">
      <img src="${static('images/learn-more-icons/wpc_maroon.png')}" style="width: 390px;" >
    </div>
      <h3>Center for Services Leadership</h3>
      <p>
        The Edge team is honored to have content development led by the Center for Services Leadership (CSL), within the WP Carey School of Business at Arizona State University. The CSL is a groundbreaking research center that concentrates on expanding service innovation by combining the latest scientific insights from the academic world with the best of service strategy in the business world.
      </p>
      <p>
        The CSL was created in 1985 as a response to the unique set of challenges that companies faced. While others in academia and business were focusing on products and manufacturing enterprises, the CSL pioneered the study of service within a university environment. Today, the Center is a globally recognized authority and thought leader in the science of competing strategically through the profitable use of service.
      </p>
      <p>Core Strategies</p>
      <ul>
          <li>To conduct and support relevant, meaningful, and rigorous research to advance the science of service across disciplines.</li>
          <li>To provide access to knowledge and knowledge transfer related to the science of service for professionals and students (Undergraduate, Masters and PhD).</li>
          <li>To connect and facilitate productive relationships among academic, industry and societal leaders to advance the theory and practice of service.</li>
          <li>To secure current self-sustaining financial model and continue to contribute financially to WPC and ASU.</li>
      </ul>
      <p>Key Activities and Partnerships</p>
      <ul>
          <li>Student Education</li>
          <li>Problem-Focused Research</li>
          <li>Executive and Professional Development</li>
          <li>Corporate Membership</li>
      </ul>

    <h2>Schultz Family Foundation</h2>
    <h3>Making A Difference</h3>
    <p>We are witnessing a fundamental breakdown of the American Dream. Division. Hate. Exclusion. These have replaced <i>respect, mobility, and compassion</i> at the core of our country, leaving our nation at risk. We all share the same dreams—to love and be loved, to find and pursue our purpose and to provide for our families. Yet, we are living in an America where potential is within all of us, but opportunity is not.</p>
    <p>The Schultz Family Foundation is committed to lifting the human spirit and bringing possibility to everyone, regardless of skin color, religion, sexual orientation, gender, or station in life. We see our nation’s challenges, but we also see solutions. If we work together to unlock potential across our communities, we can build a nation that lives up to its promise.</p>
    <h3>Opportunity Youth</h3>
    <p>There is a growing group of young people who are disconnected from the systems that were built to serve them. We believe that this generation of young people is the future of our country, and that their potential should not be determined by zip code.</p>
    <p>Through our Opportunity Youth initiative, we forge unique partnerships and invest in clear pathways to employment. By focusing on both traditional and innovative programs such as mentorship, access to housing, job readiness, and community connections, the Foundation helps close the opportunity gap for young people so they in turn can build communities and families that prosper into the next generation.</p>
    <ul class="cset--learn-more__second_list-with-icons" style="margin-top: 10px;">
        <li class="cset--learn-more__second_list-with-icons__item col-md-4">
          <div class="cset--learn-more__second_list-with-icons__icon-container">
            <img src="${static('images/branding/prepare.png')}" alt="Complete modules" role="presentation" />
          </div>

        </li>
        <li class="cset--learn-more__second_list-with-icons__item  col-md-4">
          <div class="cset--learn-more__second_list-with-icons__icon-container">
            <img src="${static('images/branding/hire.png')}" alt="Learn valuable skills" role="presentation" />
          </div>

        </li>
        <li class="cset--learn-more__second_list-with-icons__item  col-md-4">
          <div class="cset--learn-more__second_list-with-icons__icon-container">
            <img src="${static('images/branding/support.png')}" alt="Celebrate your learning" role="presentation" />
          </div>

        </li>
    </ul>
  </div>
</section>
