<%! from django.contrib.staticfiles.templatetags.staticfiles import static %>

<section class="nh--hero-section" style="background-image: url('${static('images/Nh-Banner.png')}')">
  <div class="a--container bs-container nh--hero-section__container">
    <div class="nh--hero-section__text-container">
      <h1>Welcome</h1>
      <h2>New Horizons Learning-as-a-service</h2>
      <p>
        The power of Microsoft meets the dedication and quality of New Horizons to bring you a new way to learn.
      </p>
    </div>
  </div>
</section>
