<%! from django.contrib.staticfiles.templatetags.staticfiles import static %>

<section class="nh--hero-section" style="background-image: url('${static('images/Nh-Banner.png')}')">
  <div class="a--container bs-container nh--hero-section__container">
    <div class="nh--hero-section__text-container">
      <h1>Welcome to our online courses!</h1>
      <p>
        We deliver our courses using Open edX, an open source software that powers edX.org and hundreds of other online learning sites around the world.
      </p>
    </div>
  </div>
</section>
