<%! from django.templatetags.static import static %>
<%namespace file='/theme-variables.html' import="get_global_settings" />
## mako

<!-- Include jQuery -->
<script src="${static('js/jquery.mobile.custom.min.js')}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="${static('js/bootstrap.min.js')}"></script>
<!-- Custom base JavaScript -->
<script src="${static('js/base.js')}"></script>

% if get_global_settings().get('default_additional_site_foot_content', ''):
  ${get_global_settings().get('default_additional_site_foot_content')}
% endif

% if get_global_settings().get('cookie_accepted_additional_site_foot_content', ''):
  % if request.COOKIES.get('cookieconsent_status', '') == 'dismiss':
    ${get_global_settings().get('cookie_accepted_additional_site_foot_content')}
  % endif
% endif