## mako
<%namespace name='static' file='/static_content.html'/>
<%namespace file='/theme-variables.html' import="get_global_settings" />
<%! from openedx.core.djangoapps.site_configuration.helpers import get_current_site_configuration, get_value %>
<%! from django.contrib.staticfiles.templatetags.staticfiles import static %>
<% style_overrides_file = get_value('css_overrides_file') %>

% if style_overrides_file:
    <link rel="stylesheet" type="text/css" href="${get_current_site_configuration().get_css_url()}" />
% else:
  <link rel="stylesheet" type="text/css" href="${static('css/main.css')}">
% endif
<link rel="stylesheet" type="text/css" href="${static('font-awesome/css/font-awesome.min.css')}">
<link href="${get_global_settings()['fonts_url']}" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
% if apple_app_id:
  <meta name="apple-itunes-app" content="app-id=${get_global_settings()['apple_app_id']}">
% endif


<!-- Begin Inspectlet Embed Code -->
<script type="text/javascript" id="inspectletjs">
window.__insp = window.__insp || [];
__insp.push(['wid', 1462799708]);
(function() {
function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
})();
</script>
<!-- End Inspectlet Embed Code -->

<%include file="/theme-google-analytics.html" />
