## mako

<%namespace name='static' file='/static_content.html'/>
<%namespace file='/theme-variables.html' import="get_global_settings, get_brand_favicon" />
<%! from openedx.core.djangoapps.site_configuration.helpers import get_current_site_configuration, get_value %>
<%! from django.contrib.staticfiles.templatetags.staticfiles import static %>
<%! from openedx.core.lib.courses import course_image_url %>

<link rel="icon" type="image/x-icon" href="${get_brand_favicon()['brand_favicon']}" />

% if get_current_site_configuration():
  <link rel="stylesheet" type="text/css" href="${get_current_site_configuration().get_css_url()}" />
% else:
  <link rel="stylesheet" type="text/css" href="${static('css/main.css')}">
% endif

% if request.session.get('is_hijacked_user', False):
  <link rel="stylesheet" type="text/css" href="${static('hijack/hijack-styles.css')}" />
% endif
<link rel="stylesheet" type="text/css" href="${static('font-awesome/css/font-awesome.min.css')}">
<link href="${get_global_settings()['fonts_url']}" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
% if not (get_global_settings().get('allow_search_engine_indexing', True)):
  <meta name="robots" content="noindex" />
% endif
% if apple_app_id:
  <meta name="apple-itunes-app" content="app-id=${get_global_settings().get('apple_app_id', '')}">
% endif
% if get_global_settings().get('custom_site_meta_tags', False):
  % for meta_tag in get_global_settings().get('custom_site_meta_tags'):
    % if meta_tag.get('tagName'):
      <meta name="${meta_tag['tagName']}" content="${meta_tag['tagContent']}" />
    % elif meta_tag.get('tagProperty'):
      <meta property="${meta_tag['tagProperty']}" content="${meta_tag['tagContent']}" />
    % endif
  % endfor
% endif

<%
  og_image_use_course_images = get_global_settings().get('og_image_use_course_images', True);
  default_og_image = get_global_settings().get('default_og_image', '');
%>
% if (og_image_use_course_images and course):
  <meta name="og:image" content="${course_image_url(course)}" />
% else:
  <meta name="og:image" content="${default_og_image}" />
% endif

<%include file="partials/analytics.html" />

% if get_global_settings().get('default_additional_site_head_content', ''):
  ${get_global_settings().get('default_additional_site_head_content')}
% endif

## Renders when Cookie Banner is disabled or when it is enabled and user has dismissed (accepted) it:
% if (not get_global_settings().get('cookie_notification_enabled', False)) or (get_global_settings().get('cookie_notification_enabled', False) and (request.COOKIES.get('cookieconsent_status', '') == 'dismiss')):

  <%
    appsembler_ga_code = get_global_settings().get('appsembler_ga_code', '');
    client_ga_code = get_global_settings().get('client_ga_code', '');
    client_ga_enabled = get_global_settings().get('client_ga_enabled', True);
  %>
  % if SHOW_GOOGLE_ANALYTICS:
    <script>
      % if client_ga_code and client_ga_enabled:
        ga('create', '${client_ga_code}', 'auto', 'clientTracker');
        ga('clientTracker.send', 'pageview');
      % endif
    </script>
    <!-- /Google Analytics code -->
  % endif

  % if get_global_settings().get('cookie_accepted_additional_site_head_content', ''):
    % if request.COOKIES.get('cookieconsent_status', '') == 'dismiss':
      ${get_global_settings().get('cookie_accepted_additional_site_head_content')}
    % endif
  % endif

% endif

<!-- Add JavaScript for handling the Preview Environment -->
<script defer>
  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
  }
  document.addEventListener('DOMContentLoaded', function() {
  const currentSearchParams = new URLSearchParams(window.location.search);
    if (currentSearchParams.get('preview') === 'true') {
      let notificationContent;
      if (getCookie('edxloggedin')) {
        notificationContent = document.createTextNode('You are viewing the site in Preview environment.')
      } else {
        notificationContent = document.createTextNode('To view the site in Preview environment you need to be signed in.')
      }
      var notificationElement = document.createElement('div');
      notificationElement.appendChild(notificationContent);
      notificationElement.style.cssText = 'position:fixed;width:200px;left:30px;bottom:30px;backdrop-filter:blur(3px);-webkit-backdrop-filter:blur(3px);z-index:1000;background:rgba(0,0,0,0.7);font-size:14px;padding:20px;border-radius:12px;color:#fff;';
      document.body.appendChild(notificationElement);
      console.log(getCookie('edxloggedin'));
      [...document.querySelectorAll('a')].forEach(e=>{
        const url = new URL(e.href)
        for (let [k,v] of new URLSearchParams(window.location.search).entries()){
            url.searchParams.set(k,v)
        }
        url.searchParams.set('preview', 'true');
        e.href = url.toString();
      })
    }
  }, false);
</script>