## mako
<%! import urllib %>
<%! from django.core.urlresolvers import reverse %>
<%! from openedx.core.djangoapps.site_configuration.helpers import get_current_site_configuration, get_value %>
<%! from openedx.core.djangoapps.site_configuration.models import SiteConfiguration %>
<%! from django.contrib.staticfiles.templatetags.staticfiles import static %>



<%!
  theme_name = "eucalyptus-theme-codebase"
%>



## =======================================================
## this template is used to define content to be displayed
## =======================================================


## define some global settings

<%def name="get_global_settings()">
  <%
  encoded_primary_font = urllib.quote(get_value('primary-font', ''))
  encoded_accent_font = urllib.quote(get_value('accent-font', ''))
  latin_extended = "&amp;subset=latin-ext" if get_value('accent-font', False) else ""
  return {
    'enable_registration_button' : True,
    'fonts_url' : 'https://fonts.googleapis.com/css?family={}|{}:300,300i,400,400i,700,700i,900{}'.format(
      encoded_primary_font, encoded_accent_font, latin_extended),
    'apple_app_id' : '',
    ##'header_logo_target' : ''
  }
  %>
</%def>


## define logo files. All the variables need to be defined.

<%def name="get_brand_logos()">
  <%
  return {
    'logo_positive' : get_value('logo_positive') or static('images/branding/brand-logo.svg'), ## required
    'logo_negative' : get_value('logo_negative') or static('images/branding/brand-logo-negative.svg'), ## required
    'icon_color' : get_value('icon_color', '') or static('images/branding/icon-color.svg'), ## required
    'icon_white' : get_value('icon_white', '') or static('images/branding/icon-white.svg'), ## required
    'icon_black' : get_value('icon_black', '') or static('images/branding/icon-black.svg'), ## required
  }
  %>
</%def>

<%def name="get_brand_favicon()">
  <%
  return {
    'brand_favicon' : get_value('brand_favicon', '') or static('images/favicon.ico'),
  }
  %>
</%def>


## set templates to be used for global nav and footer

<%def name="get_header_footer_templates()">
  <%
  return {
    'header_template' : 'design-templates/header/_header-appsembler-{}.html'.format(
      get_current_site_configuration().page_elements.get('header', {}).get('type', '01')), ## required
    'footer_template' : 'design-templates/footer/_footer-appsembler-{}.html'.format(
      get_current_site_configuration().page_elements.get('footer', {}).get('type', '01')), ## required
  }
  %>
</%def>


## add menu items to logged out header view. If none needed, leave the list empty.

<%def name="get_header_menu_logged_out_extra_items()">
  <%
    return get_current_site_configuration().page_elements.get('header', {}).get('loggedOutItems', [])
  %>
</%def>


## add menu items to logged in header view. If none needed, leave the list empty.

<%def name="get_header_menu_logged_in_extra_items()">
  <%
    return get_current_site_configuration().page_elements.get('header', {}).get('loggedInItems', [])
  %>
</%def>


## footer menu items. If none needed, leave the list empty (would leave footer without any links).

<%def name="get_footer_menu_items()">
  <%
    return get_current_site_configuration().page_elements.get('footer', {}).get('items', [])
  %>
</%def>


## footer overall settings

<%def name="get_footer_settings()">
  <%
    return {
      'footer_logo' : get_brand_logos()['icon_black'], ## leave as is, defined above. Can be changed to something custom if needed.
      'footer_copyright_text' : '2016 Company Name. All rights reserved.',  ## leave value empty if you don't want it displayed.
      'display_edx_disclaimer' : True, ## bool value required
      'edx_disclaimer' : 'edX, Open edX and the edX and Open edX logos are trademarks or registered trademarks of edX Inc.', ## leave value empty if you don't want it displayed.
      'display_poweredby' : True, ## bool value required
      'display_app_link' : True,
      'app_url' : 'https://itunes.apple.com/app/id1044418100'
    }
  %>
</%def>



## index page content. Will be displayed in order as defined in list.

<%def name="get_index_content()">
  <%
    return get_current_site_configuration().page_elements.get('index', {}).get('content', [])
  %>
</%def>


## course about page content

<%def name="get_course_about_content()">
  <%
    return get_current_site_configuration().page_elements.get('course-about', {}).get('content', [])
  %>
</%def>


## course catalogue page content

<%def name="get_course_catalogue_content()">
  <%
    return get_current_site_configuration().page_elements.get('courses', {}).get('content', [])
  %>
</%def>


## dashboard settings

<%def name="get_dashboard_settings()">
  <%
    return {
      'default_edx_view' : False, ## required boolean value. Set to "true" if you want the default edX look and feel.
      'dashboard_search_enabled' : True,
      'dashboard_course_listing' : 'live-blocks/dashboard-course-listing/_dashboard-course-listing-01.html', ## set which template should be used to display a single course in the dashboard
      'discovery_course_card' : '_course-tile-02.underscore', ## define which tile template to use for results
      'discovery_facet' : '_facet-01.underscore', ## define which template for facets to use
      'discovery_facet_option' : '_facet_option-01.underscore', ## define which template for a single facet to use
      'discovery-search-template' : 'live-blocks/discovery/_discovery-search-01.html', ## design which discovery-search block design to use
      'promote_course_catalog' : True,
      'promote_course_catalog_text' : "Check out our course catalog and enroll in some awesome courses!"
    }
  %>
</%def>


## dashboard page content

<%def name="get_dashboard_content()">
  <%
    return [
      {
        "element-type":"dashboard-template",
        "element-path":"design-templates/pages/dashboard/_dashboard-01.html",
        "options":{

        }
      }
    ]
  %>
</%def>


## faq page content

<%def name="get_faq_content()">
  <%
    return get_current_site_configuration().page_elements.get('faq', {}).get('content', [])
  %>
</%def>


## tos page content

<%def name="get_tos_content()">
  <%
    return get_current_site_configuration().page_elements.get('tos', {}).get('content', [])
  %>
</%def>


## copyright page content

<%def name="get_copyright_content()">
  <%
    return get_current_site_configuration().page_elements.get('copyright', {}).get('content', [])
  %>
</%def>


## about page content

<%def name="get_about_content()">
  <%
    return get_current_site_configuration().page_elements.get('about', {}).get('content', [])
  %>
</%def>


## help page content

<%def name="get_help_content()">
  <%
    return get_current_site_configuration().page_elements.get('help', {}).get('content', [])
  %>
</%def>


## contact page content

<%def name="get_contact_content()">
  <%
    return get_current_site_configuration().page_elements.get('contact', {}).get('content', [])
  %>
</%def>

## blog page content

<%def name="get_blog_content()">
  <%
    return get_current_site_configuration().page_elements.get('blog', {}).get('content', [])
  %>
</%def>

## donate page content

<%def name="get_donate_content()">
  <%
    return get_current_site_configuration().page_elements.get('donate', {}).get('content', [])
  %>
</%def>

## honor page content

<%def name="get_honor_content()">
  <%
    return get_current_site_configuration().page_elements.get('honor', {}).get('content', [])
  %>
</%def>

## jobs page content

<%def name="get_jobs_content()">
  <%
    return get_current_site_configuration().page_elements.get('jobs', {}).get('content', [])
  %>
</%def>

## news page content

<%def name="get_news_content()">
  <%
    return get_current_site_configuration().page_elements.get('news', {}).get('content', [])
  %>
</%def>

## press page content

<%def name="get_press_content()">
  <%
    return get_current_site_configuration().page_elements.get('press', {}).get('content', [])
  %>
</%def>

## privacy page content

<%def name="get_privacy_content()">
  <%
    return get_current_site_configuration().page_elements.get('privacy', {}).get('content', [])
  %>
</%def>
