## mako
<%! from django.core.urlresolvers import reverse %>
<%! from openedx.core.djangoapps.site_configuration.helpers import get_current_site_configuration, get_value %>
<%! from openedx.core.djangoapps.site_configuration.models import SiteConfiguration %>
<%! from django.contrib.staticfiles.templatetags.staticfiles import static %>



<%!
  theme_name = "eucalyptus-theme-codebase"
%>



## =======================================================
## this template is used to define content to be displayed
## =======================================================


## define some global settings

<%def name="get_global_settings()">
  <%
  return {
    'enable_registration_button' : True,
    'primary_font_to_import' : 'https://fonts.googleapis.com/css?family=Bungee|Roboto:300,300i,400,400i,700,700i,900&amp;subset=latin-ext',
    'accent_font_to_import' : 'https://fonts.googleapis.com/css?family=Bungee|Roboto:300,300i,400,400i,700,700i,900&amp;subset=latin-ext',
    'apple_app_id' : '',
    ##'header_logo_target' : ''
  }
  %>
</%def>


## define logo files. All the variables need to be defined.

<%def name="get_brand_logos()">
  <%
  return {
    'logo_positive' : get_value('logo_positive') or static('images/branding/brand-logo.svg'), ## required
    'logo_negative' : get_value('logo_negative') or static('images/branding/brand-logo-negative.svg'), ## required
    'icon_color' : get_value('icon_color', '') or static('images/branding/icon-color.svg'), ## required
    'icon_white' : get_value('icon_white', '') or static('images/branding/icon-white.svg'), ## required
    'icon_black' : get_value('icon_black', '') or static('images/branding/icon-black.svg'), ## required
  }
  %>
</%def>


## set templates to be used for global nav and footer

<%def name="get_header_footer_templates()">
  <%
  return {
    'header_template' : 'design-templates/header/_header-appsembler-01.html', ## required
    'footer_template' : 'design-templates/footer/_footer-appsembler-01.html' ## required
  }
  %>
</%def>


## add menu items to logged out header view. If none needed, leave the list empty.

<%def name="get_header_menu_logged_out_extra_items()">
  <%
    return [

    ]
  %>
</%def>


## add menu items to logged in header view. If none needed, leave the list empty.

<%def name="get_header_menu_logged_in_extra_items()">
  <%
    return [

    ]
  %>
</%def>


## footer menu items. If none needed, leave the list empty (would leave footer without any links).

<%def name="get_footer_menu_items()">
  <%
    return [
      {
        'link_title': 'Example item',
        'link_URL': '#',
        'special_class': '',
        'open_in_new_tab': False,
      },
    ]
  %>
</%def>


## footer overall settings

<%def name="get_footer_settings()">
  <%
    return {
      'footer_logo' : get_brand_logos()['icon_black'], ## leave as is, defined above. Can be changed to something custom if needed.
      'footer_copyright_text' : '2016 Company Name. All rights reserved.',  ## leave value empty if you don't want it displayed.
      'display_edx_disclaimer' : True, ## bool value required
      'edx_disclaimer' : 'edX, Open edX and the edX and Open edX logos are trademarks or registered trademarks of edX Inc.', ## leave value empty if you don't want it displayed.
      'display_poweredby' : True, ## bool value required
      'display_app_link' : True,
      'app_url' : 'https://itunes.apple.com/app/id1044418100'
    }
  %>
</%def>



## index page content. Will be displayed in order as defined in list.

<%def name="get_index_content()">
  <%
    return [
      {
        "element-type":"layout",
        "element-path":"page-builder/layouts/_single-col.html",
        "options":{
          "layout-bg-image":"https://upload.wikimedia.org/wikipedia/commons/c/c2/Glorious-blue-mountain-range.jpg",
          "bg-color":"#fff",
          "margin-right":"marg-r-0",
          "margin-bottom":"marg-b-0",
          "layout-bg-image-size":"bg-img-size--cover",
          "text-color":"#000",
          "margin-top":"marg-t-0",
          "padding-right":"padd-r-0",
          "margin-left":"marg-l-0",
          "padding-bottom":"padd-b-300",
          "padding-top":"padd-t-300",
          "text-alignment":"text-align--center",
          "padding-left":"padd-l-0",
          "align-content":"align-content-center",
        },
        "children":{
          "column-1":[
            {
              "element-type":"heading",
              "element-path":"page-builder/elements/_heading.html",
              "options":{
                "font-size":"font-size--48px",
                "margin-right":"marg-r-20",
                "margin-bottom":"marg-b-0",
                "text-color":"#fff",
                "margin-top":"marg-t-0",
                "margin-left":"marg-l-20",
                "text-content":"Welcome to your new Open edX site!",
                "font-family":"font--primary--black",
                "text-alignment":"text-align--center"
              }
            },
            {
              "element-type":"paragraph-text",
              "element-path":"page-builder/elements/_paragraph.html",
              "options":{
                "font-size":"font-size--24px",
                "margin-right":"marg-r-0",
                "margin-bottom":"marg-b-5",
                "text-color":"#fff",
                "margin-top":"marg-t-20",
                "margin-left":"marg-l-0",
                "text-content":"Congratulations! Your new Open edX site is ready to start delivering your courses to students worldwide!",
                "font-family":"font--primary--light",
                "text-alignment":"text-align--center"
              }
            },
          ]
        }
      },
      {
      "element-type":"layout",
      "element-path":"page-builder/layouts/_two-col-50-50.html",
      "options":{
        "layout-bg-image":"https://upload.wikimedia.org/wikipedia/commons/c/c2/Glorious-blue-mountain-range.jpg",
        "bg-color":"#fff",
        "margin-right":"marg-r-0",
        "margin-bottom":"marg-b-0",
        "layout-bg-image-size":"bg-img-size--cover",
        "text-color":"#000",
        "margin-top":"marg-t-0",
        "padding-right":"padd-r-0",
        "margin-left":"marg-l-0",
        "padding-bottom":"padd-b-20",
        "padding-top":"padd-t-20",
        "text-alignment":"text-align--center",
        "padding-left":"padd-l-0",
        "align-content":"align-content-center",
        },
      "children":{
        "column-1":[
          {
            "element-type":"heading",
            "element-path":"page-builder/elements/_heading.html",
            "options":{
              "font-size":"font-size--32px",
              "margin-right":"marg-r-0",
              "margin-bottom":"marg-b-20",
              "text-color":"#0090c1",
              "margin-top":"marg-t-0",
              "margin-left":"marg-l-0",
              "text-content":"Test heading",
              "font-family":"font--primary--bold",
              "text-alignment":"text-align--left"
            }
          },
          {
            "element-type":"paragraph-text",
            "element-path":"page-builder/elements/_paragraph.html",
            "options":{
              "font-size":"font-size--14px",
              "margin-right":"marg-r-0",
              "margin-bottom":"marg-b-5",
              "text-color":"#323232",
              "margin-top":"marg-t-5",
              "margin-left":"marg-l-0",
              "text-content":"Test heading",
              "font-family":"font--primary--regular",
              "text-alignment":"text-align--left"
            }
          },
          {
            "element-type":"cta-button",
            "element-path":"page-builder/elements/_cta-button.html",
            "options":{
              "font-size":"font-size--24px",
              "border-color":"#0090c1",
              "margin-right":"marg-r-0",
              "margin-bottom":"marg-b-5",
              "text-color":"#fff",
              "margin-top":"marg-t-5",
              "padding-right":"padd-r-30",
              "margin-left":"marg-l-0",
              "url":"www.google.com",
              "padding-bottom":"padd-b-10",
              "text-content":"Test button",
              "padding-top":"padd-t-10",
              "font-family":"font--primary--light-italic",
              "border-width":"border-width--none",
              "bg-color":"#0090c1",
              "padding-left":"padd-l-30"
            }
          },
          {
            "element-type":"popup-video-cta-button",
            "element-path":"page-builder/elements/_popup-video-cta-button.html",
            "options":{
              "font-size":"font-size--16px",
              "border-color":"#0090c1",
              "margin-right":"marg-r-0",
              "margin-bottom":"marg-b-5",
              "text-color":"#0090c1",
              "margin-top":"marg-t-5",
              "padding-right":"padd-r-15",
              "margin-left":"marg-l-0",
              "url":"www.google.com",
              "padding-bottom":"padd-b-10",
              "text-content":"Launch video",
              "padding-top":"padd-t-10",
              "font-family":"font--primary--regular",
              "border-width":"border-width--1px",
              "bg-color":"#fff",
              "padding-left":"padd-l-15",
              "youtube-video-id":"bJNNp7HNFZw"
            }
          }
          ],
          "column-2":[
            {
              "element-type":"image-graphic",
              "element-path":"page-builder/elements/_image-graphic.html",
              "options":{
                "margin-left":"marg-l-auto",
                "image-alt-text":"Eto ga",
                "margin-bottom":"marg-b-0",
                "image-file":"http://i.giphy.com/k39w535jFPYrK.gif",
                "margin-top":"marg-t-0",
                "margin-right":"marg-r-auto",
                "link-url":"",
                "image-width":"set-width--100percent"
              }
            }
          ]
        }
      },
      {
        "element-type":"layout",
        "element-path":"page-builder/layouts/_single-col.html",
        "options":{
          "layout-bg-image":"http://meormd.org/wp-content/uploads/2014/08/bokeh-background-32257-32996-hd-wallpapers.jpg",
          "bg-color":"#fff",
          "margin-right":"marg-r-0",
          "margin-bottom":"marg-b-0",
          "layout-bg-image-size":"bg-img-size--cover",
          "text-color":"#000",
          "margin-top":"marg-t-0",
          "padding-right":"padd-r-0",
          "margin-left":"marg-l-0",
          "padding-bottom":"padd-b-100",
          "padding-top":"padd-t-100",
          "text-alignment":"text-align--left",
          "padding-left":"padd-l-0",
          "align-content":"align-content-center",
        },
        "children":{
          "column-1":[
            {
              "element-type":"heading",
              "element-path":"page-builder/elements/_heading.html",
              "options":{
                "font-size":"font-size--32px",
                "margin-right":"marg-r-0",
                "margin-bottom":"marg-b-0",
                "text-color":"#fff",
                "margin-top":"marg-t-0",
                "margin-left":"marg-l-0",
                "text-content":"Ovo je single column layout",
                "font-family":"font--primary--bold",
                "text-alignment":"text-align--left"
              }
            },
          ]
        }
      },
      {
      "element-type":"layout",
      "element-path":"page-builder/layouts/_two-col-33-66.html",
      "options":{
        "layout-bg-image":"../path/to/image.jpg",
        "bg-color":"#0090c1",
        "margin-right":"marg-r-0",
        "margin-bottom":"marg-b-0",
        "layout-bg-image-size":"bg-img-size--cover",
        "text-color":"#fff",
        "margin-top":"marg-t-0",
        "padding-right":"padd-r-0",
        "margin-left":"marg-l-0",
        "padding-bottom":"padd-b-20",
        "padding-top":"padd-t-20",
        "text-alignment":"text-align--left",
        "padding-left":"padd-l-0",
        "align-content":"align-content-center",
        },
      "children":{
        "column-1":[
          {
            "element-type":"heading",
            "element-path":"page-builder/elements/_heading.html",
            "options":{
              "font-size":"font-size--32px",
              "margin-right":"marg-r-0",
              "margin-bottom":"marg-b-20",
              "text-color":"#fff",
              "margin-top":"marg-t-0",
              "margin-left":"marg-l-0",
              "text-content":"Ovdje treba biti plava pozadina",
              "font-family":"font--primary--bold",
              "text-alignment":"text-align--left"
            }
          },
          ],
          "column-2":[
            {
              "element-type":"image-graphic",
              "element-path":"page-builder/elements/_image-graphic.html",
              "options":{
                "margin-left":"marg-l-auto",
                "image-alt-text":"Eto ga",
                "margin-bottom":"marg-b-0",
                "image-file":"http://i.giphy.com/k39w535jFPYrK.gif",
                "margin-top":"marg-t-0",
                "margin-right":"marg-r-auto",
                "link-url":"",
                "image-width":"set-width--100percent"
              }
            }
          ]
        }
      },
      {
      "element-type":"layout",
      "element-path":"page-builder/layouts/_two-col-66-33.html",
      "options":{
        "layout-bg-image":"../path/to/image.jpg",
        "bg-color":"#fff",
        "margin-right":"marg-r-0",
        "margin-bottom":"marg-b-0",
        "layout-bg-image-size":"bg-img-size--cover",
        "text-color":"#000",
        "margin-top":"marg-t-0",
        "padding-right":"padd-r-0",
        "margin-left":"marg-l-0",
        "padding-bottom":"padd-b-20",
        "padding-top":"padd-t-20",
        "text-alignment":"text-align--left",
        "padding-left":"padd-l-0",
        "align-content":"align-content-center",
        },
      "children":{
        "column-1":[
          {
            "element-type":"heading",
            "element-path":"page-builder/elements/_heading.html",
            "options":{
              "font-size":"font-size--32px",
              "margin-right":"marg-r-0",
              "margin-bottom":"marg-b-20",
              "text-color":"#0090c1",
              "margin-top":"marg-t-0",
              "margin-left":"marg-l-0",
              "text-content":"Test heading",
              "font-family":"font--primary--bold",
              "text-alignment":"text-align--left"
            }
          },
          ],
          "column-2":[
            {
              "element-type":"image-graphic",
              "element-path":"page-builder/elements/_image-graphic.html",
              "options":{
                "margin-left":"marg-l-auto",
                "image-alt-text":"Eto ga",
                "margin-bottom":"marg-b-0",
                "image-file":"http://i.giphy.com/k39w535jFPYrK.gif",
                "margin-top":"marg-t-0",
                "margin-right":"marg-r-auto",
                "link-url":"",
                "image-width":"set-width--100percent"
              }
            }
          ]
        }
      },
      {
      "element-type":"layout",
      "element-path":"page-builder/layouts/_three-col.html",
      "options":{
        "layout-bg-image":"../path/to/image.jpg",
        "bg-color":"#fff",
        "margin-right":"marg-r-0",
        "margin-bottom":"marg-b-0",
        "layout-bg-image-size":"bg-img-size--cover",
        "text-color":"#000",
        "margin-top":"marg-t-0",
        "padding-right":"padd-r-0",
        "margin-left":"marg-l-0",
        "padding-bottom":"padd-b-20",
        "padding-top":"padd-t-20",
        "text-alignment":"text-align--left",
        "padding-left":"padd-l-0",
        "align-content":"align-content-center",
        },
      "children":{
        "column-1":[
          {
            "element-type":"Col1/3",
            "element-path":"page-builder/elements/_heading.html",
            "options":{
              "font-size":"font-size--16px",
              "margin-right":"marg-r-0",
              "margin-bottom":"marg-b-20",
              "text-color":"#0000ff",
              "margin-top":"marg-t-0",
              "margin-left":"marg-l-0",
              "text-content":"Test heading",
              "font-family":"font--primary--bold",
              "text-alignment":"text-align--left"
            }
          },
          ],
          "column-2":[
            {
              "element-type":"Col2/3",
              "element-path":"page-builder/elements/_heading.html",
              "options":{
                "font-size":"font-size--24px",
                "margin-right":"marg-r-0",
                "margin-bottom":"marg-b-20",
                "text-color":"#00ff00",
                "margin-top":"marg-t-0",
                "margin-left":"marg-l-0",
                "text-content":"Test heading",
                "font-family":"font--primary--bold",
                "text-alignment":"text-align--left"
              }
            },
          ],
          "column-3":[
            {
              "element-type":"Col3/3",
              "element-path":"page-builder/elements/_heading.html",
              "options":{
                "font-size":"font-size--12px",
                "margin-right":"marg-r-0",
                "margin-bottom":"marg-b-20",
                "text-color":"#ff0000",
                "margin-top":"marg-t-0",
                "margin-left":"marg-l-0",
                "text-content":"Test heading",
                "font-family":"font--primary--bold",
                "text-alignment":"text-align--left"
              }
            },
          ]
        }
      },
    ]
  %>
</%def>


## course about page content

<%def name="get_course_about_content()">
  <%
    return [
      {
        "element-type":"course-about-template",
        "element-path":"design-templates/pages/course-about/_course-about-01.html",
        "options":{

        }
      },
      {
        "element-type":"layout",
        "element-path":"page-builder/layouts/_single-col.html",
        "options":{
          "layout-bg-image":"http://meormd.org/wp-content/uploads/2014/08/bokeh-background-32257-32996-hd-wallpapers.jpg",
          "bg-color":"#fff",
          "margin-right":"marg-r-0",
          "margin-bottom":"marg-b-0",
          "layout-bg-image-size":"bg-img-size--cover",
          "text-color":"#000",
          "margin-top":"marg-t-0",
          "padding-right":"padd-r-0",
          "margin-left":"marg-l-0",
          "padding-bottom":"padd-b-100",
          "padding-top":"padd-t-100",
          "text-alignment":"text-align--left",
          "padding-left":"padd-l-0",
          "align-content":"align-content-center",
        },
        "children":{
          "column-1":[
            {
              "element-type":"heading",
              "element-path":"page-builder/elements/_heading.html",
              "options":{
                "font-size":"font-size--32px",
                "margin-right":"marg-r-0",
                "margin-bottom":"marg-b-0",
                "text-color":"#fff",
                "margin-top":"marg-t-0",
                "margin-left":"marg-l-0",
                "text-content":"Example heading",
                "font-family":"font--primary--bold",
                "text-alignment":"text-align--left"
              }
            },
          ]
        }
      },
    ]
  %>
</%def>


## course catalogue page settings

<%def name="get_course_catalogue_settings()">
  <%
    return {
      'default_edx_view' : false, ## required boolean value. Set to "true" if you want the default edX look and feel.
      'discovery_course_card' : '_course-tile-02.underscore', ## define which tile template to use for results
      'discovery_facet' : '_facet-01.underscore', ## define which template for facets to use
      'discovery_facet_option' : '_facet_option-01.underscore', ## define which template for a single facet to use
      'course_template_class' : 'a--course-tile-02', ## required, defined as "a--{template-name}"
      'course_template' : 'live-blocks/single-course/_course-tile-02.html', ## required
      'discovery-search-template' : 'live-blocks/discovery/_discovery-search-01.html' ## design which discovery-search block design to use
    }
  %>
</%def>

## course catalogue page content

<%def name="get_course_catalogue_content()">
  <%
    return [
      {
        "element-type":"layout",
        "element-path":"page-builder/layouts/_single-col.html",
        "options":{
          "layout-bg-image":"http://meormd.org/wp-content/uploads/2014/08/bokeh-background-32257-32996-hd-wallpapers.jpg",
          "bg-color":"#fff",
          "margin-right":"marg-r-0",
          "margin-bottom":"marg-b-0",
          "layout-bg-image-size":"bg-img-size--cover",
          "text-color":"#000",
          "margin-top":"marg-t-0",
          "padding-right":"padd-r-0",
          "margin-left":"marg-l-0",
          "padding-bottom":"padd-b-100",
          "padding-top":"padd-t-100",
          "text-alignment":"text-align--left",
          "padding-left":"padd-l-0",
          "align-content":"align-content-center",
        },
        "children":{
          "column-1":[
            {
              "element-type":"heading",
              "element-path":"page-builder/elements/_heading.html",
              "options":{
                "font-size":"font-size--32px",
                "margin-right":"marg-r-0",
                "margin-bottom":"marg-b-0",
                "text-color":"#fff",
                "margin-top":"marg-t-0",
                "margin-left":"marg-l-0",
                "text-content":"Example heading",
                "font-family":"font--primary--regular-italic",
                "text-alignment":"text-align--left"
              }
            },
          ]
        }
      },
      {
        "element-type":"course-catalogue-template",
        "element-path":"design-templates/pages/course-catalogue/_course-catalogue-01.html",
        "options":{

        }
      },
      {
      "element-type":"layout",
      "element-path":"page-builder/layouts/_two-col-50-50.html",
      "options":{
        "layout-bg-image":"../path/to/image.jpg",
        "bg-color":"#fff",
        "margin-right":"marg-r-0",
        "margin-bottom":"marg-b-0",
        "layout-bg-image-size":"bg-img-size--cover",
        "text-color":"#000",
        "margin-top":"marg-t-0",
        "padding-right":"padd-r-0",
        "margin-left":"marg-l-0",
        "padding-bottom":"padd-b-20",
        "padding-top":"padd-t-20",
        "text-alignment":"text-align--left",
        "padding-left":"padd-l-0",
        "align-content":"align-content-center",
        },
      "children":{
        "column-1":[
          {
            "element-type":"heading",
            "element-path":"page-builder/elements/_heading.html",
            "options":{
              "font-size":"font-size--32px",
              "margin-right":"marg-r-0",
              "margin-bottom":"marg-b-20",
              "text-color":"#0090c1",
              "margin-top":"marg-t-0",
              "margin-left":"marg-l-0",
              "text-content":"Test heading",
              "font-family":"font--primary--bold",
              "text-alignment":"text-align--left"
            }
          },
          {
            "element-type":"paragraph-text",
            "element-path":"page-builder/elements/_paragraph.html",
            "options":{
              "font-size":"font-size--14px",
              "margin-right":"marg-r-0",
              "margin-bottom":"marg-b-5",
              "text-color":"#323232",
              "margin-top":"marg-t-5",
              "margin-left":"marg-l-0",
              "text-content":"Test heading",
              "font-family":"font--primary--regular",
              "text-alignment":"text-align--left"
            }
          },
          {
            "element-type":"cta-button",
            "element-path":"page-builder/elements/_cta-button.html",
            "options":{
              "font-size":"font-size--16px",
              "border-color":"#0090c1",
              "margin-right":"marg-r-0",
              "margin-bottom":"marg-b-5",
              "text-color":"#0090c1",
              "margin-top":"marg-t-5",
              "padding-right":"padd-r-15",
              "margin-left":"marg-l-0",
              "url":"www.google.com",
              "padding-bottom":"padd-b-10",
              "text-content":"Test heading",
              "padding-top":"padd-t-10",
              "font-family":"font--primary--regular",
              "border-width":"border-width--1px",
              "bg-color":"#fff",
              "padding-left":"padd-l-15"
            }
          },
          {
            "element-type":"popup-video-cta-button",
            "element-path":"page-builder/elements/_popup-video-cta-button.html",
            "options":{
              "font-size":"font-size--16px",
              "border-color":"#0090c1",
              "margin-right":"marg-r-0",
              "margin-bottom":"marg-b-5",
              "text-color":"#0090c1",
              "margin-top":"marg-t-5",
              "padding-right":"padd-r-15",
              "margin-left":"marg-l-0",
              "url":"www.google.com",
              "padding-bottom":"padd-b-10",
              "text-content":"Launch video",
              "padding-top":"padd-t-10",
              "font-family":"font--primary--regular",
              "border-width":"border-width--1px",
              "bg-color":"#fff",
              "padding-left":"padd-l-15",
              "youtube-video-id":"bJNNp7HNFZw"
            }
          }
          ],
          "column-2":[
            {
              "element-type":"image-graphic",
              "element-path":"page-builder/elements/_image-graphic.html",
              "options":{
                "margin-left":"marg-l-auto",
                "image-alt-text":"Eto ga",
                "margin-bottom":"marg-b-0",
                "image-file":"http://i.giphy.com/k39w535jFPYrK.gif",
                "margin-top":"marg-t-100",
                "margin-right":"marg-r-auto",
                "link-url":"",
                "image-width":"set-width--100percent"
              }
            }
          ]
        }
      },
    ]
  %>
</%def>


## dashboard settings

<%def name="get_dashboard_settings()">
  <%
    return {
      'default_edx_view' : False, ## required boolean value. Set to "true" if you want the default edX look and feel.
      'dashboard_search_enabled' : True,
      'dashboard_course_listing' : 'live-blocks/dashboard-course-listing/_dashboard-course-listing-01.html', ## set which template should be used to display a single course in the dashboard
      'discovery_course_card' : '_course-tile-02.underscore', ## define which tile template to use for results
      'discovery_facet' : '_facet-01.underscore', ## define which template for facets to use
      'discovery_facet_option' : '_facet_option-01.underscore', ## define which template for a single facet to use
      'discovery-search-template' : 'live-blocks/discovery/_discovery-search-01.html', ## design which discovery-search block design to use
      'promote_course_catalog' : True,
      'promote_course_catalog_text' : "Check out our course catalog and enroll in some awesome courses!"
    }
  %>
</%def>


## dashboard page content

<%def name="get_dashboard_content()">
  <%
    return [
      {
        "element-type":"dashboard-template",
        "element-path":"design-templates/pages/dashboard/_dashboard-01.html",
        "options":{

        }
      },
      {
      "element-type":"layout",
      "element-path":"page-builder/layouts/_two-col-50-50.html",
      "options":{
        "layout-bg-image":"../path/to/image.jpg",
        "bg-color":"#fff",
        "margin-right":"marg-r-0",
        "margin-bottom":"marg-b-0",
        "layout-bg-image-size":"bg-img-size--cover",
        "text-color":"#000",
        "margin-top":"marg-t-0",
        "padding-right":"padd-r-0",
        "margin-left":"marg-l-0",
        "padding-bottom":"padd-b-20",
        "padding-top":"padd-t-20",
        "text-alignment":"text-align--left",
        "padding-left":"padd-l-0",
        "align-content":"align-content-center",
        },
      "children":{
        "column-1":[
          {
            "element-type":"heading",
            "element-path":"page-builder/elements/_heading.html",
            "options":{
              "font-size":"font-size--32px",
              "margin-right":"marg-r-0",
              "margin-bottom":"marg-b-20",
              "text-color":"#0090c1",
              "margin-top":"marg-t-0",
              "margin-left":"marg-l-0",
              "text-content":"Test heading",
              "font-family":"font--primary--bold",
              "text-alignment":"text-align--left"
            }
          },
          {
            "element-type":"paragraph-text",
            "element-path":"page-builder/elements/_paragraph.html",
            "options":{
              "font-size":"font-size--14px",
              "margin-right":"marg-r-0",
              "margin-bottom":"marg-b-5",
              "text-color":"#323232",
              "margin-top":"marg-t-5",
              "margin-left":"marg-l-0",
              "text-content":"Test heading",
              "font-family":"font--primary--regular",
              "text-alignment":"text-align--left"
            }
          },
          {
            "element-type":"cta-button",
            "element-path":"page-builder/elements/_cta-button.html",
            "options":{
              "font-size":"font-size--16px",
              "border-color":"#0090c1",
              "margin-right":"marg-r-0",
              "margin-bottom":"marg-b-5",
              "text-color":"#0090c1",
              "margin-top":"marg-t-5",
              "padding-right":"padd-r-15",
              "margin-left":"marg-l-0",
              "url":"www.google.com",
              "padding-bottom":"padd-b-10",
              "text-content":"Test heading",
              "padding-top":"padd-t-10",
              "font-family":"font--primary--regular",
              "border-width":"border-width--1px",
              "bg-color":"#fff",
              "padding-left":"padd-l-15"
            }
          },
          {
            "element-type":"popup-video-cta-button",
            "element-path":"page-builder/elements/_popup-video-cta-button.html",
            "options":{
              "font-size":"font-size--16px",
              "border-color":"#0090c1",
              "margin-right":"marg-r-0",
              "margin-bottom":"marg-b-5",
              "text-color":"#0090c1",
              "margin-top":"marg-t-5",
              "padding-right":"padd-r-15",
              "margin-left":"marg-l-0",
              "url":"www.google.com",
              "padding-bottom":"padd-b-10",
              "text-content":"Launch video",
              "padding-top":"padd-t-10",
              "font-family":"font--primary--regular",
              "border-width":"border-width--1px",
              "bg-color":"#fff",
              "padding-left":"padd-l-15",
              "youtube-video-id":"bJNNp7HNFZw"
            }
          }
          ],
          "column-2":[
            {
              "element-type":"image-graphic",
              "element-path":"page-builder/elements/_image-graphic.html",
              "options":{
                "margin-left":"marg-l-auto",
                "image-alt-text":"Eto ga",
                "margin-bottom":"marg-b-0",
                "image-file":"http://i.giphy.com/k39w535jFPYrK.gif",
                "margin-top":"marg-t-0",
                "margin-right":"marg-r-0",
                "link-url":"",
                "image-width":"set-width--100percent"
              }
            }
          ]
        }
      },
    ]
  %>
</%def>


## dummy static page content for testing

<%def name="dummy_data()">
  <%
    return [
      {
        "element-type":"layout",
        "element-path":"page-builder/layouts/_single-col.html",
        "options":{
          "layout-bg-image":"http://meormd.org/wp-content/uploads/2014/08/bokeh-background-32257-32996-hd-wallpapers.jpg",
          "bg-color":"#fff",
          "margin-right":"marg-r-0",
          "margin-bottom":"marg-b-0",
          "layout-bg-image-size":"bg-img-size--cover",
          "text-color":"#000",
          "margin-top":"marg-t-0",
          "padding-right":"padd-r-0",
          "margin-left":"marg-l-0",
          "padding-bottom":"padd-b-100",
          "padding-top":"padd-t-100",
          "text-alignment":"text-align--left",
          "padding-left":"padd-l-0",
          "align-content":"align-content-center",
        },
        "children":{
          "column-1":[
            {
              "element-type":"heading",
              "element-path":"page-builder/elements/_heading.html",
              "options":{
                "font-size":"font-size--32px",
                "margin-right":"marg-r-0",
                "margin-bottom":"marg-b-0",
                "text-color":"#fff",
                "margin-top":"marg-t-0",
                "margin-left":"marg-l-0",
                "text-content":"Example title of a static page",
                "font-family":"font--primary--bold",
                "text-alignment":"text-align--left"
              }
            },
          ]
        }
      },
      {
      "element-type":"layout",
      "element-path":"page-builder/layouts/_two-col-50-50.html",
      "options":{
        "layout-bg-image":"../path/to/image.jpg",
        "bg-color":"#fff",
        "margin-right":"marg-r-0",
        "margin-bottom":"marg-b-0",
        "layout-bg-image-size":"bg-img-size--cover",
        "text-color":"#000",
        "margin-top":"marg-t-0",
        "padding-right":"padd-r-0",
        "margin-left":"marg-l-0",
        "padding-bottom":"padd-b-20",
        "padding-top":"padd-t-20",
        "text-alignment":"text-align--left",
        "padding-left":"padd-l-0",
        "align-content":"align-content-center",
        },
      "children":{
        "column-1":[
          {
            "element-type":"heading",
            "element-path":"page-builder/elements/_heading.html",
            "options":{
              "font-size":"font-size--32px",
              "margin-right":"marg-r-0",
              "margin-bottom":"marg-b-20",
              "text-color":"#0090c1",
              "margin-top":"marg-t-0",
              "margin-left":"marg-l-0",
              "text-content":"Test heading",
              "font-family":"font--primary--bold",
              "text-alignment":"text-align--left"
            }
          },
          ],
          "column-2":[
            {
              "element-type":"image-graphic",
              "element-path":"page-builder/elements/_image-graphic.html",
              "options":{
                "margin-left":"marg-l-auto",
                "image-alt-text":"Eto ga",
                "margin-bottom":"marg-b-0",
                "image-file":"http://i.giphy.com/k39w535jFPYrK.gif",
                "margin-top":"marg-t-0",
                "margin-right":"marg-r-auto",
                "link-url":"",
                "image-width":"set-width--100percent"
              }
            }
          ]
        }
      },
    ]
  %>
</%def>



## faq page content

<%def name="get_faq_content()">
  <%
    return dummy_data();
  %>
</%def>


## tos page content

<%def name="get_tos_content()">
  <%
    return dummy_data();
  %>
</%def>


## copyright page content

<%def name="get_copyright_content()">
  <%
    return dummy_data();
  %>
</%def>


## about page content

<%def name="get_about_content()">
  <%
    return dummy_data();
  %>
</%def>


## help page content

<%def name="get_help_content()">
  <%
    return dummy_data();
  %>
</%def>


## contact page content

<%def name="get_contact_content()">
  <%
    return dummy_data();
  %>
</%def>
