<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<div class="wrapper-msg urgency-high">
    <div class="msg">
        <div class="msg-content">
            <div class="copy">
                <p class='activation-message'>${Text(_(
                        "Congratulations! You're ready to become a DevOps pro. "
                        "Check your email to activate your account and get "
                        "started right away. Didn't get your email? Contact "
                        "{email_start}academy@training.jfrog.com{email_end}."
                        )).format(email_start=HTML("<strong>"),
                                  email_end=HTML("</strong>"),
                                  email=email
                        )}
                </p>
            </div>
        </div>
    </div>
</div>
